.sh_content {
  margin-top: 10px;
}

.sh_content h3 {
  color: #000;
}

.sh_border {
  border: 1px solid #ccc;
  margin-top: 10px;
}

.sh_border1 {
  border: 1px solid #ccc;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
  clear: both !important;
}

h4 {
  color: #000;
}

label {}

.add_shop {
  background: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.add_steps li {
  position: static;
  width: auto;
}

.step_2 {
  left: inherit;
  z-index: 99;
}

.step_3 {
  left: inherit;
  z-index: 9;
}

.step_4 {
  left: inherit;
}

.add_steps a {
  background: none;
  width: auto;
  font-weight: normal;
  padding: 0 40px 0 0 !important;
}

.shop-menu-list a {
  padding: 8px 20px 8px 0px !important;
}

.add_steps li a {
  height: auto;
}

.add_steps a:hover {
  background: none;
  color: #ddd;
}

.name-inner {
  width: auto;
  line-height: 35px;
}

.add_steps {
  margin: 0;
  height: 35px;
  z-index: 99;
}

.bodybg {
  background: #e6e6e6 !important;
}

header {
  padding: 0;
  border-top: 1px solid #333;

  /*margin-bottom:62px;*/
}

.main-3 {
  margin: 0 auto;
  position: relative;
  width: 1100px;
}

.header_topright {
  margin-top: 13px;
}

.account_menu_list {
  top: 46px;
}

.shop_active_tab {
  background: none !important;
  color: #ffffff !important;
}

.shopview_info {
  background: #ffffff;
}

.profile-info-img {
  background: #ffffff;
  padding: 5px;
  border: 1px solid #b2b2b2;
}

.shop_name2 {
  background: #ffffff;
  margin: 30px 2px 1px 3px;
  border: 1px solid #d3d6db;
}

.new-user {
  color: #b2b2b2;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  width: 48%;
}

.listing-thumb {
  height: 194px;
  background: #f5f5f1;
}

.container {
  padding: 0px;
}

.bread_crumbs {
  padding: 0;
  display: none;
}

.bread_crumbs li {
  margin: 5px 5px 1px 0;
}

.bread_crumbs span {
  margin-right: 5px;
  margin-top: 4px;
}

.shop_view {
  margin: 10px 0 20px;
}

.header_menu li a .icon-text {
  line-height: 23px;
  padding-top: 25px;
}

.header_menu li i {
  background-position: 7px 7px;
  height: 17px;
  position: absolute;
  right: -13px;
  top: 25px;
}

.side_bar ul li {
  width: 95%;
}

.shop_details {
  padding-bottom: 0;
}

.shop_active {
  color: #fff !important;
}

.bread_crumbs a {
  font-size: 11px;
}

.shop-main-1 {
  display: inline-block;
  width: 100%;
}

.shop_view_right {
  margin: 0px;
  width: 100%;
  position: relative;
}

.shop-detail {
  float: left;
  border-radius: 0;
  width: 100%;
  position: relative;
  padding: 0px;
  border: 1px solid #d3d6db;
  min-height: 315px;
}

.shop_view_text {
  top: 218px;
  left: 215px;
  position: absolute;
  background: rgba(0, 0, 0, 0.43);
  padding: 10px 15px;
}

.shop_view_text a {
  color: #fff;
  font-size: 20px !important;
}

.shop_view_left1 {
  float: left;
  width: 17%;
  position: absolute;
  bottom: 27px;
  z-index: 1;
  left: 3%;
}

.shop-info-detail {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 13px;
  padding: 5px;
  position: absolute;
  top: 10px;
  width: 94%;
}

.shop-info-detail a {
  color: #ffffff;
}

.profile-info-img img {
  height: 160px;
  width: 100%;
}

#shop-info {
  float: right;
  padding: 0;
  width: 79%;
  margin: 0px;
}

.shop-owner-text {
  top: 223px;
  position: absolute;
  right: 7px;
  width: 26%;
}

.shop-owner-text li {
  float: left;
}

#shop-info ul li {
  float: left;
}

#shop-info ul li a {
  border-right: 1px solid #c8c9cd;
  display: inline-block;
  padding: 10px 15px;
  color: #666666;
}

#shop-info ul li a:hover {
  text-decoration: none;
}

#shop-info ul li:first-child a {
  border-left: 1px solid #c8c9cd;
}

.shop-owner-text ul li a {
  background: #ffffff;
  border: 1px solid #6d6d6d;
  color: #666666;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 3px;
  float: left;
  margin-right: 7px;
}

.shop-owner-text ul li a:hover {
  text-decoration: none;
}

.shop_view_right .list_wrap {
  background: #ffffff;
  padding: 23px 15px;
  margin: 20px 0 30px 0px;
  border: 1px solid #d3d6db;
}

.shop_view_right .list_wrap_items li:nth-child(4n+1) {
  margin-left: 8px !important;
}

.list_wrap_items li {
  border: 1px dashed #c8c9cd !important;
}

.list_wrap_items li:first-child {
  border: 1px solid #c8c9cd !important;
}

.add_shop_drop_down {
  position: absolute;
  display: none;
  right: 0px;
  top: 34px;
  background: #ffffff;
  z-index: 999;
}

.add_steps li:hover .add_shop_drop_down {
  display: block;
}

.add_shop_drop_down li a {
  padding: 0 20px !important;
  text-align: right;
  width: 100%;
}

.add_steps .add_shop_drop_down .name-inner {
  line-height: 33px !important;
}

.add-shop-photos {
  display: inline-block;
  width: 100%;
}

.photos-box {
  display: inline-block;
  border: 1px solid #b8e1ea;
  background-color: #fff;
  border-radius: 3px;
  margin-right: 15px;
  width: 18%;
  position: relative;
}

.card-img-wrap {
  margin: 2px;
  position: relative;
  background-color: #f5f5f1;
  color: #34a8c4;
  padding: 29% 0;
  text-align: center;
  min-height: 140px;
}

.icon-size {
  font-size: 21px !important;
}

.card-img-wrap span {
  display: inline-block;
  width: 100%;
}

.photos-box-bottom {
  height: 38px;
  border-top: 1px solid #e1e3df;
  display: inline-block;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
}

.add-shop-main {
  padding: 0px;
}

.active-wrap {
  background: #cce9f0;
}

.card-img-wrap-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.wrap-input-file {
  border: medium none;
  height: 146px;
  width: 100%;
}

#digital_wrapper small {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.card-img-wrap-photos {
  display: table-cell;
  height: 147px;
  text-align: center;
  vertical-align: middle;
  width: 170px;
}

.card-img-wrap-photos img {
  width: 100%;
}

.photo-close-btn {
  float: right;
  font-size: 21px !important;
  margin-top: 5px;
  margin-right: 8px;
  z-index: 999;
  cursor: pointer;
}

.photos-box img {
  display: block;
  height: 148px;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.P8 {
  padding: 0 8px;
}

.upload_button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2);
  border-image: none;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #555;
  padding: 8px 12px 8px 15px !important;
  border-radius: 3px;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 38px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.up-items {
  font-size: 19px !important;
  padding-right: 10px;
}

#property_level, #property_level1 {
  width: 30% !important;
}

#options_list table tr td {
  padding: 12px !important;
}

#option_value {
  border: medium none;
  box-shadow: 0 0 2px 0 #babab3;
  float: left;
  font-size: 12px;
  height: auto !important;
  line-height: 24px;
  margin: 0 0 2px;
  padding: 4px 7px 4px 10px !important;

  /*width: 80% !important;*/
}

#variations_level_div {
  /* width: auto !important;*/
  width: 100% !important;
  margin: 0;
}

.add_shop .add_steps {
  border-bottom: 0px !important;
  box-shadow: none !important;
}

a:active {
  overflow: none;
}

a:focus {
  overflow: none;
}

a {
  overflow: none;
}

.gallery-banner, .shp-sell-banner {
  width: 100%;
  float: left;
  position: relative;
}

.list_wrap {
  background: #FFF none repeat scroll 0% 0%;
  padding: 23px 15px;
  margin: 20px 0px 30px;
  border: 1px solid #D3D6DB;
}

.add_shop_drop_down.expanded {
  margin: 0;
}

nav#nav-mobile ul li ul {
  padding-left: 0;
  padding-right: 0;
}

.favorite.bg-body .main {
  width: 100%;
}

/** design by J **/
.add_steps a {
  padding: 0 16px !important;
}
