@charset "utf-8";

/* Container */
.verticalslider {
  height: 100%;
  overflow: hidden;
  width: 712px;
}

/* Tabs */
.verticalslider_tabs {
  border-right: 1px solid #C4C4C4;
  float: left;
  width: 250px;
}

.verticalslider_tabs, .verticalslider_tabs li {
  margin: 0px;
  padding: 0px;
}

.verticalslider_tabs li {
  list-style-type: none;
}

.verticalslider_tabs a:link, .verticalslider_tabs a:visited {
  color: #0192B5;
  display: block;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
  width: 200px;
}

.verticalslider_tabs a:hover, .verticalslider_tabs a:active {
  background: url(../../images/tabHoverBG.jpg) bottom repeat-x;
  background-color: #fcfcfc;
}

.verticalslider_tabs li:first-child a:link, .verticalslider_tabs li:first-child a:visited {
  border-top: none;
  height: 17px;
}

.verticalslider_tabs .activeTab a:link, .verticalslider_tabs .activeTab a:visited {
  background: #ffffff;
  border-right: 1px solid #ffffff;
}

.verticalslider_tabs .activeTab a:hover, .verticalslider_tabs .activeTab a:active {
  background: #ffffff;
  border-right: 1px solid #ffffff;
}

/* Contents */
.verticalslider_contents {
  float: left;
  display: inline;
  margin: 0px;
  padding: 0px;
}

.verticalslider_contents li {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  padding: 0px;
  display: none;
  position: absolute;
  list-style-type: none;
}

.verticalslider_contents li h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #333333;
  margin: 5px 20px;
  padding: 0px;
}

.verticalslider_contents li p {
  margin: 5px 20px;
  padding: 0px;
  color: #333333;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
}

.verticalslider_contents .activeContent {
  display: inline;
}

/* Play Pause*/
.verticalslider .playPause a {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 50;
}

.verticalslider .play a:link, .verticalslider .play a:visited {
  background: url(../../images/plays.png) no-repeat 0 0;
  display: none;
}

.verticalslider .pause a:link, .verticalslider .pause a:visited {
  background: url(../../images/pauses.png) no-repeat 0 0;
}

.verticalslider .pause a:hover, .verticalslider .pause a:active, .verticalslider .play a:hover, .verticalslider .play a:active {
  background-position: 0px -60px;
  border-bottom: none;
}

/* Float Right Styles 
.verticalslider_tabs {float: right;}
.verticalslider .arrow {margin-left: -27px; background: url(../../images/arrow-right.png); }
.verticalslider_tabs a:link, .verticalslider_tabs a:visited{border-left: 1px solid #666666; border-right: none;}
.verticalslider_tabs .activeTab a:link, .verticalslider_tabs .activeTab a:visited{border-left: 1px solid #ffffff;}
.verticalslider_tabs .activeTab a:hover, .verticalslider_tabs .activeTab a:active{border-left: 1px solid #ffffff;}*/

.sd {
  height: 0;
}
