.offer-tag {
  position: absolute;
  top: 0px;
  z-index: 9;
  background: url(../../../images/offer-tag.png) no-repeat;
  width: 80px;
  height: 70px;
  margin-left: -5px;
  margin-top: -3px;
}
.deal-tag {
  position: absolute;
  bottom: 0px;
  right: -8px;
  z-index: 9;
  background: url(../../../images/deal-day1.png) no-repeat;
  width: 80px;
  height: 70px;
  margin-left: -5px;
  margin-top: -5px;
}
p.off-price {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  color: #fff;
  font-size: 13px;
  font-weight:bold;
}