body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px;
  line-height: 24px; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

.main {
  margin: 0 auto;
  width: initial;
  position: relative; }

p {
  margin: 0;
  padding: 0; }

.container {
  max-width: 80%; }

a.shop-listing-count {
  min-height: 78px; }

.ct-img {
  margin: 0 2px 2px 0; }

.ct-img img {
  width: 100%;
  text-indent: -9999px; }

.owner-details {
  font-size: 18px; }

/* ---------Popup jquery---------------------- */
.modal-dialog {
  width: 700px; }

.modal-content {
  border-radius: 6px 6px 0px 0px; }

.modal-content .nav-tabs {
  padding: 15px 15px 0px 15px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #0083c6;
  color: #fff;
  outline: none; }

.tab-content {
  float: left;
  background: #fff;
  /*border-top: 1px solid #ccc;*/
  width: 100%;
  margin: 0px; }

.popup_tab_content {
  float: left;
  width: 100%;
  min-height: 400px;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 28px;
  text-align: justify; }

.footer_popup_left {
  float: left;
  padding: 20px;
  width: 100%; }

.footer_popup_left h2 {
  color: #000000;
  font-size: 16px;
  padding: 0 0 20px;
  font-weight: bold;
  margin: 0; }

.verticalslider {
  height: 100%;
  overflow: hidden;
  width: 100%; }

.footer_popup_left .preference_split {
  width: 100%; }

.preference_split {
  float: left;
  list-style: outside none none;
  margin: 0px;
  padding: 0;
  width: 99%; }

.preference_split li {
  color: #4c4c4c;
  cursor: pointer;
  float: left;
  font-size: 13px;
  list-style: outside none none;
  margin: 2px 20px 10px 2px;
  padding: 3px 5px;
  width: 29%; }

.preference_split li a {
  color: #0192b5;
  float: left;
  font-size: 13px;
  margin: 0;
  padding: 4px;
  text-decoration: none; }

.footer_popup_left .preference_split li:hover {
  background: #0192B5;
  color: #fff; }

.footer_popup_left .preference_split li:hover a {
  color: #fff; }

.footer_tab_footer {
  background-color: #eef0f3;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #eef0f3;
  float: left;
  height: auto;
  padding: 11px 21px 13px;
  width: 100%;
  margin: 0px; }

.footer_tab_footer span {
  color: #666666;
  font-size: 12px;
  line-height: 39px;
  white-space: nowrap; }

.popup_button {
  float: right; }

.popup_button .submit_btn {
  margin: 0 10px 0 0; }

.submit_btn {
  float: left;
  background-color: #5598bf;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#68B8D1  , endColorstr=#4FA9C6 );
  	/* background-image:-moz-linear-gradient(top, #68B8D1 0%, #4FA9C6  100%);
   	background-image:-webkit-linear-gradient(top, #68B8D1 0%, #4FA9C6  100%);
   	background-image:-ms-linear-gradient(top, #68B8D1 0%, #4FA9C6  100%);
   	background-image:linear-gradient(top, #68B8D1 0%, #4FA9C6  100%);
   	background-image:-o-linear-gradient(top, #68B8D1 0%, #4FA9C6  100%); */
  /* background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#68B8D1), color-stop(100%,#4FA9C6 )); */
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  border-color: #54ACC7 #4CA0BA #398A9D;
  border-style: solid;
  border-width: 1px;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  padding: 0 20px;
  margin-left: 10px; }

.submit_btn:hover {
  background: #377091;
  color: #ffffff; }

#footerPopCarncel {
  background: #eeeeee;
  border: 1px solid #cccccc;
  color: #888; }

.popup_button .submit_btn {
  margin: 0 10px 0 0; }

.preference_split li.currencyactive span {
  color: #ffffff; }

.preference_split li span {
  cursor: pointer;
  float: left;
  margin: 4px 5px 0 0;
  padding: 0; }

.modal-footer .btn-group .btn + .btn {
  margin-left: 5px; }

.footer_popup_left .preference_split li:hover span {
  color: #fff; }

.popup_login .search {
  padding: 5px 10px;
  width: 90%; }

/*input[type="radio"], input[type="checkbox"]{
	margin: 10px 10px 10px 0;
}*/
.forgot-link {
  float: left;
  font-size: 12px;
  width: 100%;
  line-height: 13px;
  margin: 0 0 0px 50px; }

.wdt-size {
  margin: 20px auto;
  float: none;
  width: 69%; }

.col-md-8 .story-block {
  height: auto !important;
  margin: 20px 28px 0px 0 !important;
  width: 47.5% !important; }

.col-md-8 .story-block:nth-child(2n+1) {
  margin-right: 0px !important; }

#item-overview {
  display: inline-block; }

.subscribe-link {
  width: 100%; }

.btn-primary:hover, .btn-primary.hover {
  background: #a5ce61; }

.realated-brick {
  margin: 0 0px 10px 10px;
  width: 47%; }

.related-listing-inner {
  padding: 0px; }

.related-listings img {
  height: 154px; }

.shop-info > .avatar {
  display: inline-block; }

.realated-this-item {
  margin: 0; }

.seller {
  padding: 0px; }

.seller .avatar {
  width: 75px; }

.seller .avatar img {
  width: 100%; }

.search-bl {
  margin-left: 0;
  margin-top: 1px; }

.search-bl input[type="text"] {
  width: 240px; }

.top-login {
  width: 34%; }

.cart-top {
  margin-left: 0;
  margin-top: 8px; }

.cart-top-landing {
  margin-left: 0;
  margin-top: 7px; }

.pull-right {
  float: right; }

header {
  box-shadow: none;
  border: none; }

.header_menu {
  margin-top: 0px; }

.price-input input {
  padding: 0 10px; }

.ct-block-cover {
  width: 23.2%; }

.arrow-ic {
  margin: 15px 10px; }

.filter-group .filter-input.facet {
  padding: 4px 7px; }

label {
  font-weight: normal; }

.filter-button-inside .footer-row input, select {
  padding: 0 10px;
  width: 120px; }

.filter-input input, select {
  /*margin: 0 10px !important;
  padding: 1px 10px !important;*/
  width: 62%; }

.filter-button-inside input, select {
  margin-left: 10px;
  padding: 0 10px; }

.filter-submit {
  margin-left: 0px !important; }

#message-green {
  background: #82b809;
  padding: 10px;
  text-align: center;
  color: #ffffff; }

#message-red {
  background: #F9684A;
  padding: 10px;
  text-align: center;
  color: #ffffff; }

.row_left-left {
  float: left;
  width: 29.9%;
  border: 4px solid #f5f5f1;
  margin: 0 0 0 10px; }

.footer_tab_content {
  float: left; }

.footer_tab_footer span {
  color: #666666;
  font-size: 12px;
  line-height: 39px;
  white-space: nowrap;
  display: inline-block; }

.cart-tabs {
  padding: 0 38px; }

[class*="-share"] {
  margin: 0;
  padding-left: 0px; }

.shopsy_shop {
  text-decoration: none;
  background: #3687af;
  background: -o-linear-gradient(top, #1d4a80 2%, #317ca4 8%, #3d92b3 58%, #3f98bb);
  background: -ms-linear-gradient(top, #1d4a80 2%, #317ca4 8%, #3d92b3 58%, #3f98bb);
  background: -moz-linear-gradient(top, #1d4a80 2%, #317ca4 8%, #3d92b3 58%, #3f98bb);
  background: -webkit-linear-gradient(top, #1d4a80 2%, #317ca4 8%, #3d92b3 58%, #3f98bb);
  background: linear-gradient(top, #1d4a80 2%, #317ca4 8%, #3d92b3 58%, #3f98bb);
  border-color: #54ACC7 #4CA0BA #398A9D;
  border: 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #FFFFFF !important;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  padding: 7px 15px 8px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); }

.shopsy_shop:hover {
  background: #3f98bb;
  background: -o-linear-gradient(top, #83c7da 2%, #53aac8 8%, #3f98bb 58%, #3f98bb 95%, #3d92b3);
  background: -ms-linear-gradient(top, #83c7da 2%, #53aac8 8%, #3f98bb 58%, #3f98bb 95%, #3d92b3);
  background: -moz-linear-gradient(top, #83c7da 2%, #53aac8 8%, #3f98bb 58%, #3f98bb 95%, #3d92b3);
  background: -webkit-linear-gradient(top, #83c7da 2%, #53aac8 8%, #3f98bb 58%, #3f98bb 95%, #3d92b3);
  background: linear-gradient(top, #83c7da 2%, #53aac8 8%, #3f98bb 58%, #3f98bb 95%, #3d92b3); }

.footer-list span {
  /* color: #0192b5; */
  padding: 6px 0; }

.table-header th {
  text-align: center; }

.field_account .search {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  border-color: #B3B3B3 #CCCCCC #CCCCCC #B3B3B3;
  border-style: solid;
  border-width: 1px;
  background: #FFFFFF;
  line-height: 15px;
  width: 77%;
  margin-right: 10px;
  padding: 6px 5px 6px 5px;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 20px;
  outline: none; }

.table-condensed {
  width: 100%; }

#shop_contacts_popup .modal-dialog {
  width: 468px; }

.listing-meta .listing-price {
  color: #664fa6;
  display: inline-block;
  width: 100%; }

.btn-fave .icon.fav-active {
  background-position: -15px 0; }

.radio-popup input {
  display: inline-block;
  margin: 0 4px 10px 0; }

.edit_popup_section span {
  margin-bottom: 15px;
  display: inline-block; }

.right-sideblock > .gift-box {
  background: #ffffff; }

.product-img-logo {
  display: inline-block;
  text-align: center;
  margin-top: 9px;
  width: 60%; }

.payment-total .txt_right {
  text-align: left;
  padding: 6px; }

ul.payment-option {
  margin-bottom: 10px; }

.payment-option li {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  min-height: 47px;
  border-bottom: 1px solid #eee; }

.payment-option li label {
  line-height: 26px; }

.payment-total {
  margin-top: 10px; }

.payment-option input {
  margin: 5px 10px 10px 0 !important; }

.footer-goolge {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 10px; }

.footer-goolge img {
  width: 125px; }

/*---------------------New edit 13-8-2015------------------*/
#optpoup .modal-dialog {
  bottom: -60px !important; }

body,
button,
input,
select,
textarea,
h1,
a {
  font-family: 'helvetica neue',arial,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif !important; }

a:hover {
  text-decoration: none !important; }

/*# sourceMappingURL=edit-css.css.map */
