/** Responsive CSS **/

/**** Width for 1024 * 768 **/
@media screen and (max-width: 1024px){

.banner iframe {
	width:100%;
} 
 body {
     overflow-x: hidden;
}
	
}

@media screen and (min-width: 1024px) and (max-width: 1250px){



/* ============================= Sign In ====================== */

.sign_in_container .sign_in_form .popup_login label {
    width: 53%;
}

.community_right{
	margin-bottom: 25px;
	}
.gen_check{
	padding: 5px 0;
}
.left_side{
    margin-right: 20px;
}
.collection_fav li{
	width: 215px;
}
.registery-left {
    float: left;
    width: 68%;
}
.registery-right {
    float: left;
    margin-left: 15px;
    width: 25%;
}


/*----------------New one---------------*/

.carousel-inner, .jumbotron.hero {
    height: 288px !important;
    min-width: 1000px !important;
}



}


@media screen and (max-width: 768px){






/* ============================= Search page ====================== */

#content #secondary.standardized_filters{
    width: 29%;
}
#content #primary{
     width: 68%;
}

.product-search-page .product_listing li {
    height: auto !important;
    margin: 15px 5px !important;
    width: 46% !important;
}
.product-search-page .product_listing li:nth-child(3n+1) {
    margin-left: 25px;
}
.product-search-page .product_img img {
    box-shadow: 0 0 1px 0 #dcdcdc;
    float: left;
    height: auto;
    width: 100%;
}



.profile_field label{
    width: 22%;
    margin: 0 5px 5px 0;
    text-align: left;
}
.text_profi{
    text-align: left;
}
.text_arrow{
    left: 8px;
}


.purchase_review .purchase-search{
    width: 23%;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
    width: 100%;
}



.collection_fav li {
    float: left;
    margin: 0 0 30px 24px;
    width: 201px;
}
.collection_fav li:nth-child(4n+1) {
    margin: 0 0 30px 24px;
}
.main .container{
    padding: 0px;
}





/* ============================= favorites-items ====================== */


.favorite_list .product_listing li {
    height: auto;
    width: 31%;
}
.favorite_list .product_img img {
    float: left;
    height: auto;
    width: 100%;
}
.product_listing li:nth-child(4n+1) {
    margin-left: 8px;
}

.left_side {
    float: left;
    margin-right: 7px;
    margin-top: 10px;
    width: 21%;
}
.add_listimg a img {
    border: medium none;
    width: 100%;
}
.product_img img{
     height: auto;
}
.product_listing li{
    width: 23%;
}





/* ============================= local ====================== */

.treasury_left{
    width: 100%;
}
.treasure_box {
    width: 100%;
}
.container_box{
   width: 100%; 
}
.shop_local .container_box_left {
    width: 100%;
}
.shop_local .input_tresury .treasure-text {
    width: 100%;
}
.shop_local .container_box_right {
    float: left;
    margin-top: 15px;
    width: 100%;
}
.container_box_right_img img {
    height: auto;
    width: 100%;
}
.treasury_right {
    float: right;
    margin-bottom: 15px;
    width: 100%;
}

.community_right{
	width: 49%;
}



}


/* ============================= 768px ====================== */

@media screen and (min-width: 768px) and (max-width: 1023px){

#logo {
    margin: 0;
    width: 100%;
	text-align:center;
}
.search-bl{
	margin-top: 5px;
}
.below-header{
	display: inline-block;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.navbar{
	border: none;
}
.navbar .btn-navbar{
	width: 95%;
	color: #575e60;
    font-family: "Sans-Serif";
    font-size: 15px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0px;
}
.navbar .btn-navbar label{
	font-weight: normal;
}
.search-bl {
    width: 40.333%;
}
.search-bl input[type="text"] {
    width: 74% !important;
}
.signin{
	width: 48%;
	margin-top: 10px;
	float: right;
}
a.shop-listing-count {
    min-height: 44px;
    padding-top: 7px;
    width: 100%;
    height: 38px;
}
.second-bl{
	padding-bottom: 0px;
}
.icon-bloclk{
	margin: 40px 0;
}
.top-login{
    margin-top: 0px;
    /* width: 45%; */
}
.cart-top{
	width: 10% !important;
	float: left;
}
.realated-brick {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 31%;
}
.realated-brick img {
    height: 150px !important;
}



/* ============================= Sign In ====================== */


.sign_in_container .sign_in_form .popup_login .search {
    padding: 8px 5px;
}

.community_right{
	margin-bottom: 25px;
}

.wdt-size{
	width: 95%;
}
.gen_check{
	padding: 5px 0;
}


.collection_fav li:nth-child(3n+1) {
    margin: 0 0 0px 24px;
}



/* ============================= Open shop ====================== */

.creative-business h2{
    width: 100%;
}
.business-image {
    float: left;
    margin: 0;
    width: 100%;
}
.business-image li{
    width: 104px;
}




.primary-left, .primary-right {
    float: left;
    width: 100%;
}
.community_page .community_div .section {
    min-height: inherit;
    width: 100%;
}

.help_box_scroll {
    margin-left: 0 !important;
    width: 76%;
}
.sub-spin {
    margin-right: 0 !important;
    margin-top: 0px;
}
.help-col-1{
    width: 30%;
}

.footer-block{
	display: inline-block;
}

.carousel-inner, .jumbotron.hero{
	 height: 211px !important;
	 min-width: inherit !important;
}
.hero-in{
	top:60px;
}


}


/* ============================= 736px ====================== */

@media screen and (min-width: 736px) and (max-width: 767px){


#logo {
    margin: 0;
    width: 23%;
}
.navbar{
	border: none;
}
.navbar .btn-navbar{
	width: 95%;
	color: #575e60;
    font-family: "Sans-Serif";
    font-size: 15px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0px;
}
.navbar .btn-navbar label{
	font-weight: normal;
}
.search-bl {
    width: 41.333%;
}
.search-bl input[type="text"] {
    width: 74% !important;
}
.signin{
	/*width: 48%;*/
	margin-top: 10px;
	float: right;
}
a.shop-listing-count {
    min-height: 44px;
    padding-top: 7px;
    width: 100%;
    height: 38px;
}
.second-bl{
	padding-bottom: 0px;
}
.icon-bloclk{
	margin: 40px 0;
}
.top-login{
    margin-top: 15px;
    width: 45%;
}
.cart-top{
	width: 31% !important;
	float: left;
}
.realated-brick {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 31%;
}
.realated-brick img {
    height: 150px !important;
}


/* ============================= Sign In ====================== */

.sign_in_container {
    width: 99% !important;
}
.sign_in_form {
    width: 100%;
}
.sign_in_form-inner {
    width: 100%;
}
.sign_head {
    width: 100%;
    padding: 15px;
}
.sign_in_form .popup_login {
    width: 83%;
}
.sign_in_container .sign_in_form .popup_login label {
    width: 33%;
    margin: 8px 0 5px;
}
.sign_in_container .sign_in_form .popup_login .search {
    float: left;
    padding: 5px;
    width: 62%;
}
.sign_in_form .popup_login .error {
    width: 100%;
}
.sign_in_form .popup_login {
    margin: 15px 10px;
    width: 92%;
}
.sign_head h2 {
    font-size: 15px;
    width: 100%;
}
.sign_head .sign_text{
	 width: auto;
}
.sign_head .fb_div {
    float: right;
    margin: 0;
}
input[type="radio"], input[type="checkbox"]{
	margin: 4px;
}
.forgot-link {
    margin: 0 0 0 15px;
    width: 95%;
}


/* =============================Forgot ====================== */


.wdt-size {
    margin: 0 0 30px;
    width: 100%;
}
.pass {
    width: 100% !important;
}
.forgot_text {
    margin: 10px 0 5px 12px;
    line-height: 17px;
}
.field_account {
    width: 98%;
}
.community_page .pass input {
    float: left;
    padding: 0 10px;
}
input#forgot_submit, input#reopen_submit {
    margin-left: 12px !important;
     height: 33px;
    line-height: 22px;
}
.community_page .pass input {
    float: left;
    padding: 7px 10px;
    margin: 10px 10px 15px 11px;
}
.forgot_titles{
	 padding: 22px 0 22px 11px;
}
.gen_check{
	padding: 5px 0;
}

.collection_fav li:nth-child(3n+1) {
    margin: 0 0 0px 24px;
}


/* ============================= favorites-items ====================== */


.favorite_list .product_listing li {
    height: auto;
    width: 31%;
}


/* ============================= Open shop ====================== */

.creative-business h2{
    width: 100%;
}
.business-image {
    float: left;
    margin: 0;
    width: 100%;
}
.business-image li{
    width: 100px;
    height: 83px;
}


.primary-left, .primary-right {
    float: left;
    width: 100%;
}
.community_page .community_div .section {
    min-height: inherit;
    width: 100%;
}
.help_box_scroll {
    margin-left: 0 !important;
    width: 76%;
}
.sub-spin {
    margin-right: 0 !important;
    margin-top: 0px;
}
.help-col-1{
    width: 30%;
}

.header_menu li{
    padding: 0 13px;
}



}


/* ============================= 667px ====================== */


@media screen and (max-width: 667px){

.search-bl {
    margin-left: 0px;
	margin-top: 10px;
} 
.signin{
	margin:0px;
	background:none;
}
.rf-bl{
	width:auto;
}
a.shop-listing-count{
	padding-top: 19px;
	height: 76px;
}
.footer-row input, select{
	width: auto;
}
.filter-button-inside .footer-row input, select{
    width: 120px;
}
.sign-mobile .header_link33{
	width: 33%;
}
.sign-mobile .signin a{
	line-height: 34px;
}
#logo {
    margin: 0;
    text-align: center;
    width: 100%;
}
.signin a{
	line-height: 18px;
}
.sign-mobile{
	display: block !important;
	text-align: center;
    width: 100%;
}
.sign-mobile .signin{
	margin: 0;
}
/*.act-browse-bt {
    margin-top: 15px;
     margin-right: 10px !important;
	 display: inline-block;
	 float: none !important;
    text-align: center;
    width: 100%;
}
.act-browse-bt .btn-default{	
    display: inline-block;
    float: none;
    margin-bottom: 10px;
}
.dropdown-menu {
    left: 81px;
}*/
ul.locale-settings {
    margin-bottom: 10px;
    margin-right: 0;
}
.navbar{
	width: 56%;
	float: left;
	margin: 0px !important;
}
.browse{
	height: 38px;
}
.navbar{
	border: none;
}
.navbar .btn-navbar{
	width: 95%;
	color: #575e60;
    font-family: "Sans-Serif";
    font-size: 15px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0px;
}
.navbar .btn-navbar label{
	font-weight: normal;
}
.second-bl{
	padding-bottom: 0px;
}
.icon-bloclk{
	margin: 40px 0;
}
.signin {
    display: none;
}


/* ============================= List Page ====================== */

.top-login {
    margin-top: 3px;
    width: 100%;
}
.header_menu li{
	padding: 0 12px !important;
}
.col-md-8 .story-block {
    height: auto !important;
    margin: 0 28px 37px 0 !important;
    width: 98.5% !important;
}
.branding .shop-name{
	width: 54% !important;
}
.hover_lists{
	left: auto !important;
	right:0;
}
.branding h3{
	width: 83%;
}


/* ============================= Detail Page ====================== */


.fav-bt{
	display: inline-block;
}
.content-seller .col-md-5{
	padding: 0px;
}
.content-seller{
	padding: 20px 0;
}
.seller .avatar {
    display: inline-block;
    width: 75px;
    text-align: center;
    /*width: 100%;*/
}
.realated-brick{
	display: inline-block;
    margin: 0 10px 10px 0;
    width: 100%;
}
.realated-brick img{
	height: 206px !important;
}
#fineprint ul li{
	width: 100%;
}




/* =============================Forgot ====================== */


.wdt-size {
    margin: 0 0 30px;
    width: 100%;
}
.pass {
    width: 100% !important;
}
.forgot_text {
    margin: 10px 0 5px 12px;
    line-height: 17px;
}
.field_account {
    width: 98%;
}
.community_page .pass input {
    float: left;
    padding: 0 10px;
}
input#forgot_submit, input#reopen_submit {
    margin-left: 12px !important;
     height: 33px;
    line-height: 22px;
}
.community_page .pass input {
    float: left;
    padding: 7px 10px;
    margin: 10px 10px 15px 11px;
}
.forgot_titles{
	 padding: 22px 0 22px 11px;
}




/* =============================Register ====================== */


.gen_check{
	padding: 5px 0;
}
.fb_div{
	margin: 20px 14px 10px;
}
.sign-register-text{
	margin: 0 0 15px 16px;
}
.sign-check-text{
	margin: 5px 0 4px 11px; 
}
.mtop{
    margin:20px 0 0px 11px !important;
}



/* ============================= Search page ====================== */


#content #primary {
    width: 100%;
}
.product-search-page .product_listing li {
    height: auto !important;
    margin: 15px 5px !important;
    width: 46% !important;
}
.product-search-page .product_listing li:nth-child(3n+1) {
    margin-left: 25px;
}
.product-search-page .product_img img {
    box-shadow: 0 0 1px 0 #dcdcdc;
    float: left;
    height: auto;
    width: 100%;
}
.product_maker {
    float: left;
    width: 43%;
}
.favorite-mem{
	margin: 0;
}
#content #secondary.standardized_filters {
    width: 99%;
}
#content #secondary.standardized_filters .secondary-liner {
    width: 100%;
}
ul.filter.show-only span {
    font-size: 12px;
}
#facet-price #price-editor input.text {
    width: 96%;
}
#price-editor .price-input{
    width: 87px !important;
}
.container{
    padding: 0px 5px;
}
ul.bt-menu li{
    width: 100%;
    text-align: center;
}



/* ============================= Public Profile ====================== */

.community_left {
    margin: 20px 5px 0;
    width: 96%;
}
.side_bar {
    padding: 0;
	width: 100%;
}
.side_bar ul li a {
    width: 100%;
}
.community_right {
    float: left !important;
    margin: 20px 0 0 6px !important;
    width: 96% !important;
}
.split_prefile p {
    float: left;
    font-size: 12px;
    margin: 8px 0 0 9px;
}
.pass {
    width: 93% !important;
}
.profile_field label {
    float: left;
    margin: 0;
    padding: 0 0 10px;
    text-align: left;
    width: 100%;
}
.community_page .pass input {
    float: left;
    padding: 0 10px;
}
.profile_field span {
    margin: 0 !important;
}
.text_profi {
    float: left;
    margin: 0 10px;
    padding: 0;
    text-align: left;
    width: 100%;
}
.pro_check {
    float: left !important;
    margin: 0px;
}
.community_page .pass input {
    float: left;
    padding: 7px 10px;
}
.shipping_fiel {
    margin: 0 0 10px;
    width: 89% !important;
}

.city-lbl .text_arrow {
    left: 10px;
}
.text_arrow {
    bottom: inherit;
    height: auto;
    left: 10px;
    position: inherit;
}
.preview_pro {
    margin: 0 10px 0 0;
    width: 33% !important;
}
.profile_field span {
    margin: 0 !important;
}
span.tell-ppl, span.share-ppl {
    margin: 0 !important;
}
.field_account {
    width: 98%;
}
input#profile_submit {
    margin-left: 80px !important;
}
.community_page .pass .pro_check input{
    margin: 5px 7px !important;
}
.field_account input{
    margin: 5px !important;
}

/* ============================= Settings ====================== */


.secondary-tabs{
    padding: 0;
}
.secondary-tabs li a{
    font-size: 11px;
    padding: 7px 3px;
}
.community_page .community_div .acc_full .section{
    width: 94%;
    margin-left: 5px;
}
.acc_full .section{
    width: 100%;
}
.side_tex{
   width: 90%; 
}


/* ============================= Privacy ====================== */


.p_text{
    width: 94%;
}


/* ============================= Shipping Addresses ====================== */

.shipping_field label{
    width: 96%;
    text-align: left;
}
.password_btn{
    margin-left: 11px !important;
}



/* ============================= Purchases ====================== */


.purchase_review .top_list {
    margin: 0;
    width: 100%;
}
.purchase_review .purchase-search {
    float: left;
    margin: 15px 0 0;
    padding: 0;
    width: 90%;
}
.property_right {
    float: left;
    margin: 20px 0 0;
    width: 100%;
}
.order_side {
    padding: 10px;
    width: 100%;
}
.order_side-left {
    float: left;
    width: 100%;
}
.order_side-right {
    border-left: medium none;
    float: left;
    padding: 0;
    width: 100%;
}
.property_left {
    float: left;
    width: 98%;
}
.property_left .button_view, .property_left .button_view2{
    float: left;
}
#header_menu .col8 {
    width: 100% !important;
}


/* ============================= Favorites ====================== */


.collection_fav li:nth-child(4n+1) {
    margin: 0 0 30px 28px;
}
.top_list form {
    float: left;
    margin: 10px 0;
    position: relative;
    width: 100%;
}
.input-forms{
    height: 35px;
}



/* ============================= favorites-items ====================== */


.favorite_list .product_listing li {
    height: auto;
    width: 46%;
}
.favorite_list .product_img img {
    float: left;
    height: auto;
    width: 100%;
}
.product_listing li:nth-child(4n+1) {
    margin-left: 8px;
}


/* ============================= Shop-items ====================== */


.left_side {
    float: left;
    margin-right: 0;
    margin-top: 10px;
    width: 100%;
}
.email_subscribe{
    width: 100%;
}
.right_side {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.add_listimg a img {
    border: medium none;
    width: 100%;
}
.text_box{
    width: 73%;
}

.product_listing li{
    width: 46%;
    height: auto;
}
.product_img img{
    height: auto;
}



.team_img2{
    width: 38%;
}
.team_member2 {
    float: left;
    width: 57% !important;
    padding: 1px 0;
}
.team_list_main .team_info p{
    padding-bottom: 5px;
}


/* ============================= Open-shop ====================== */



.allowed-item{
    width: 100%;
}
.cont-b-left{
     width: 92%;
}
.cont-b-right{
    width: 99%;
}
.creative-business h2{
    font-size: 20px;
    width: 100%;
}   
.creative-business {
    float: left;
    width: 100%;
} 
.business-image {
    float: left;
    margin: 0;
    width: 100%;
}
.business-image li{
    height: 86px;
    overflow: hidden;
    width: 103px;
}
.creative-business p{
    width: 97%;
    padding: 0 10px;
}
.questions-left, .questions-right {
    float: left;
    padding: 0 5px;
    width: 100%;
}
.questions p{
    font-size: 13px;
}
#sell-on-header h1{
    font-size: 19px;
    padding: 0 10px;
    line-height: 26px;
}



/* ============================= view-people ====================== */



.primary-left, .primary-right {
    float: left;
    width: 100%;
}
.community_page .community_div .section {
    min-height: inherit;
    width: 100%;
}


.col50 {
    float: left;
    width: 100%;
}
.contact-page h2 {
    color: #000;
    font-size: 25px;
}
.col50 .popup_login{
    margin: 13px 0 20px 15px;
    width: 89%;
}
.contact-page .search{
    width: 100%;
}


/* ============================= favoriters ====================== */



.listing-favorite-left {
    float: left;
    margin: 15px 0 0;
    width: 100%;
}
.listing-favorite-right {
    float: left;
    width: 100%;
}
.listing-favorite-right .seller-links{
    float: left;
    width: 100%;
}
.seller-links li {
    display: inline;
    margin-left: 0;
    width: 100%;
    word-wrap: break-word;
}


/* ============================= Help ====================== */

.help_box h2{
    font-size: 22px;
}
.help_box_scroll{
    margin-left: 0px !important;
    width: 99%; 
}
.sub-spin{
    margin-right: 0px !important;
    margin-top: 10px;
}
.help-col-1 {
    font-size: 15px;
    margin: 0 0 25px 10px;
    width: 90%;
}
.help-col-1 ul li a {
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}
.help-bottom-middle {
    margin: 0 auto;
    width: 100%;
}
.help-bottom-middle li {
    float: left;
    margin: 0 0 15px;
    width: 100%;
}
.freewall .large {
    height: auto !important;
    margin-bottom: 20px;
}
.cate-freewall {
    margin: 0 auto;
    width: 100% !important;
}



/* ============================= local ====================== */

.treasury_left{
    width: 100%;
}
.treasure_box {
    width: 100%;
}
.container_box{
   width: 100%; 
}
.shop_local .container_box_left {
    width: 100%;
}
.shop_local .input_tresury .treasure-text {
    width: 100%;
}
.shop_local .container_box_right {
    float: left;
    margin-top: 15px;
    width: 100%;
}
.container_box_right_img img {
    height: auto;
    width: 100%;
}
.treasury_right {
    float: right;
    margin-bottom: 15px;
    width: 100%;
}


/* ============================= category ====================== */


.searching-left{
    width: 100%;
}
.searching-pagelist {
    border-bottom: 1px solid #eeeeee;
    float: left;
    padding-right: 0;
    width: 100%;
}
.searching-pagelist-right {
    float: left;
    width: 100%;
}
.seller-links li:first-child{
    width: 100% !important;
}



.shop-cart{
	float:none;
	padding-left:0px;
}
.footer-block {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.footer-head {
    display: inline-block;
    margin: 0;
    width: 100%;
}
ul.footer-list li {
    display: inline-block;
    padding: 3px 0;
    text-align: center;
    width: 100%;
}
.op-bt {
    float: none;
    margin: 10px auto;
    text-align: center;
    width: 37%;
}
.shop-cart{
	border:none;
}
.right-sideblock{
	display: inline-block;
}
.main{
	width:100%;
}
.convers .conversation_container_left{
	width: 100%;
	border:none;
}
.convers .conversation_container_right {
    border-left: medium none;
    float: left;
    width: 100%;
}
.conversation_container_right .message-box {
    border-top: 1px solid #d9d9d9;
    float: left;
    margin: 0;
    padding: 15px 0;
    width: 99%;
}
.text_lines{
	width: 100%;
}
.conversation_container_right .message-box li{
	padding: 0 2px;
}
.act-browse-bt{
	margin-bottom:15px;
}
.modal-dialog {
    width: 90%;
}
.popup_tab_content{
	min-height: inherit !important;
}
.chart-wrap{
	overflow: auto;
    width: 100%;
}
.tab-content{
	border:none;
}
.cart-tabs{
	padding: 0 30px;
}

/* ============================= community ====================== */

.row_left{
	width: 100%;
}
.row_left-left{
	width: 100%;
	margin:10px 0px 0px 0px;
}
/*.gv_panelWrap{
	width: 100% !important;
}
.gv_galleryWrap{
	height: 200px !important;
}
.gv_gallery, .gv_panelWrap, .gv_panel, .gv_panel img{
	height: 150px !important;
	width: 100% !important;
}*/


.slider_right {
    float: left;
    width: 71%;
}
.slider_left {
    float: left;
    width: 70%;
}
.community_right .story_slider .slider_1 ul li{
	width: 270px !important;
}
.slider_1{
	height: 370px !important;
}
.community_right .story_slider .slider_1 ul li{
	height: 367px !important;
}
.special_event_left{
	width: 70%;
}
.special_event_right{
	width: 71%;
}
.slider_1 ul li{
	height: 359px !important;
}
.event_list_left {
    float: left;
    width: 100%;
}
.event_list_right{
	width: 100%;
}
.event_list_left1 {
    float: left;
    width: 100%;
}
.event_list_right1 {
    float: left;
    width: 100%;
}
.team_member {
    float: left;
    width: 100%;
}
.team_info {
    float: left;
    width: 100%;
}
.team_img {
    float: left;
    width: 100%;
	text-align: center;
}

/*---------------------add-team----------------------*/


.left_split{
	width: 100% !important;
}
.menu_links li{
	width: 100% !important;
}
.right_split{
	padding: 0 !important;
    width: 100% !important;
	 margin: 0 !important;
}
.new_post_content{
	width: 100% !important;
}
.cardinfo_div label{
	width: 100% !important;
}
.payment_txt, .payment_area{
	width: 95% !important;
}



/*---------------------registry----------------------*/


.registery-left {
    float: left;
    width: 100%;
}
.registery-left, .registery-right {
    margin-top: 0;
}
.registery-right {
    float: right;
    width: 100%;
}

.preference_split li{
	 margin: 2px 20px 2px 2px;
    padding: 0 5px;
    width: 100%;
}
.list-header-text{
	width: 68%;
}



	
}


@media screen and (min-width: 667px) and (max-width: 735px){

.rf-bl {
    width: 49%;
}
a.shop-listing-count {
    height: 87px;
    padding-top: 27px;
}
.act-browse-bt {
    float: right !important;
    margin-right: 57px;
}
.top-login {
    margin-top: 3px;
    width: 74%;
}
.header_menu li {
    padding: 0 32px !important;
}
.col-md-8 .story-block {
    height: auto !important;
    margin: 0 28px 37px 0 !important;
    width: 47.5% !important;
}
.realated-brick {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 47%;
}
.realated-brick img {
    height: 232px !important;
}


/* ============================= Sign In ====================== */

.sign_in_container {
    width: 99% !important;
}
.sign_in_form {
    width: 100%;
}
.sign_in_form-inner {
    width: 100%;
}
.sign_head {
    width: 100%;
    padding: 15px;
}
.sign_in_form .popup_login {
    width: 83%;
}
.sign_in_container .sign_in_form .popup_login label {
    width: 33%;
    margin: 8px 0 5px;
}
.sign_in_container .sign_in_form .popup_login .search {
    float: left;
    padding: 5px;
    width: 62%;
}
.sign_in_form .popup_login .error {
    width: 100%;
}
.sign_in_form .popup_login {
    margin: 15px 10px;
    width: 92%;
}
.sign_head h2 {
    font-size: 15px;
    width: 100%;
}
.sign_head .sign_text{
	 width: auto;
}
.sign_head .fb_div {
    float: right;
    margin: 0;
}
input[type="radio"], input[type="checkbox"]{
	margin: 4px;
}
.forgot-link {
    margin: 0 0 0 15px;
    width: 95%;
}



/* ============================= Search page ====================== */


.product-search-page .product_listing li {
    height: auto !important;
    margin: 15px 5px !important;
    width: 31% !important;
}


/* ============================= favorites ====================== */

.collection_fav li {
    float: left;
     margin: 0 0 30px 58px;
    width: 201px;
}

.collection_fav li:nth-child(4n+1) {
   margin: 0 0 30px 61px;
}



.favorite_list .product_listing li {
    height: auto;
    width: 31%;
}


.product_listing li {
    height: auto;
    width: 31%;
}


.business-image li{
    width: 110px;
}
.help-bottom-middle li {
    float: left;
    margin: 0 0 15px;
    width: 48%;
}
.help-col-1 {
    font-size: 15px;
    margin: 0 0 25px 10px;
    width: 47%;
}
.help_box_scroll {
    margin-left: 0 !important;
    width: 76%;
}
.sub-spin {
    margin-right: 0 !important;
    margin-top: 0px;
}


}

/* ============================= 600px ====================== */


@media screen and (min-width: 600px) and (max-width: 666px){

.rf-bl {
    width: 49%;
}
.act-browse-bt {
    float: right !important;
    margin-right: 57px;
}
.search-bl input[type="text"] {
    left: 0;
    position: relative;
    width: 73% !important;
}
.col-md-8 .story-block {
    height: auto !important;
    margin: 0 28px 37px 0 !important;
    width: 46.5% !important;
}
.top-login {
    margin-top: 3px;
    width: 71%;
}
.header_menu li {
    padding: 0 25px !important;
}
.realated-brick {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 47%;
}


/* ============================= Sign In ====================== */

.sign_in_container {
    width: 99% !important;
}
.sign_in_form {
    width: 100%;
}
.sign_in_form-inner {
    width: 100%;
}
.sign_head {
    width: 100%;
    padding: 15px;
}
.sign_in_form .popup_login {
    width: 83%;
}
.sign_in_container .sign_in_form .popup_login label {
    width: 33%;
    margin: 8px 0 5px;
}
.sign_in_container .sign_in_form .popup_login .search {
    float: left;
    padding: 5px;
    width: 62%;
}
.sign_in_form .popup_login .error {
    width: 100%;
}
.sign_in_form .popup_login {
    margin: 15px 10px;
    width: 92%;
}
.sign_head h2 {
    font-size: 15px;
    width: 100%;
}
.sign_head .sign_text{
	 width: auto;
}
.sign_head .fb_div {
    float: right;
    margin: 0;
}
input[type="radio"], input[type="checkbox"]{
	margin: 4px;
}
.forgot-link {
    margin: 0 0 0 15px;
    width: 95%;
}


/* ============================= Search page ====================== */

.product-search-page .product_listing li {
    height: auto !important;
    margin: 15px 5px !important;
    width: 31% !important;
}

.favorite_list .product_listing li {
    height: auto;
    width: 31%;
}

.product_listing li {
    height: auto;
    width: 31%;
}

.business-image li{
    width: 110px;
}
.help-bottom-middle li {
    float: left;
    margin: 0 0 15px;
    width: 49%;
}


}

/* ============================= 568px ====================== */

@media screen and (min-width: 568px) and (max-width: 599px){

.rf-bl {
    width: 49%;
}
.act-browse-bt {
    float: right !important;
    margin-right: 57px;
}
.search-bl input[type="text"] {
    left: 0;
    position: relative;
    width: 72% !important;
}
.top-login{
	width: 69%;
}
.header_menu li {
    padding: 0 20px !important;
}
.col-md-8 .story-block {
    height: auto !important;
    margin: 0 28px 37px 0 !important;
    width: 46.5% !important;
}
.realated-brick{
	width: 47%;
}
.realated-brick img {
    height: 192px !important;
}


/* ============================= Sign In ====================== */

.sign_in_container {
    width: 99% !important;
}
.sign_in_form {
    width: 100%;
}
.sign_in_form-inner {
    width: 100%;
}
.sign_head {
    width: 100%;
    padding: 15px;
}
.sign_in_form .popup_login {
    width: 83%;
}
.sign_in_container .sign_in_form .popup_login label {
    width: 100%;
}
.sign_in_container .sign_in_form .popup_login .search {
    float: left;
    padding: 5px;
    width: 100%;
}
.sign_in_form .popup_login .error {
    width: 100%;
}
.sign_in_form .popup_login {
    margin: 5px 10px;
    width: 92%;
}
.sign_head h2 {
    font-size: 15px;
    width: 100%;
}
.sign_head .sign_text{
	 width: auto;
}
.sign_head .fb_div {
    float: right;
    margin: 0;
}
input[type="radio"], input[type="checkbox"]{
	margin: 4px;
}
.forgot-link {
    margin: 0 0 0 15px;
    width: 95%;
}

/* ============================= favorites ====================== */

.collection_fav li {
    float: left;
    margin: 0 0 30px 44px;
    width: 201px;
}

.collection_fav li:nth-child(4n+1) {
    margin: 0 0 30px 44px;
}


.product_listing li {
    height: auto;
    width: 31%;
}


.business-image li{
    width: 110px;
}
.help-3, .help-4{
    margin-left: 196px;
}
.help_box_scroll {
    margin-left: 0 !important;
    width: 71%;
}
.sub-spin {
    margin-right: 0 !important;
    margin-top: 0px;
}






}

/* ============================= 480px ====================== */


@media screen and (min-width: 480px) and (max-width: 567px){

.sign-mobile .header_link33 {
    float: right;
    margin-right: 15px;
    width: auto;
}
.signin a {
    line-height: 21px;
}
.header_link33{
	padding: 3px 0 0 10px;
}
a.shop-listing-count {
    height: 70px;
    padding-top: 19px;
}
.top-login{
	margin-top: 3px;
    width: 72%;
}
.header_menu li {
    padding: 0 12px !important;
}
.realated-brick img {
    height: 288px !important;
}

/* ============================= Sign In ====================== */

.sign_in_container {
    width: 99% !important;
}
.sign_in_form {
    width: 100%;
}
.sign_in_form-inner {
    width: 100%;
}
.sign_head {
    width: 100%;
    padding: 15px;
}
.sign_in_form .popup_login {
    width: 83%;
}
.sign_in_container .sign_in_form .popup_login label {
    width: 100%;
}
.sign_in_container .sign_in_form .popup_login .search {
    float: left;
    padding: 5px;
    width: 100%;
}
.sign_in_form .popup_login .error {
    width: 100%;
}
.sign_in_form .popup_login {
    margin: 5px 10px;
    width: 92%;
}
.sign_head h2 {
    font-size: 15px;
    width: 100%;
}
.sign_head .sign_text{
	 width: auto;
}
.sign_head .fb_div {
    float: left;
    margin: 0;
}
input[type="radio"], input[type="checkbox"]{
	margin: 4px;
}
.forgot-link {
    margin: 0 0 0 15px;
    width: 95%;
}



}

/* ============================= 414px ====================== */

@media screen and (min-width: 414px) and (max-width: 479px){

.sign-mobile .header_link33 {
    float: right;
    margin-right: 15px;
    width: auto;
}
.signin a {
    line-height: 21px;
}
.header_link33{
	padding: 3px 0 0 10px;
}
a.shop-listing-count {
    height: 70px;
    padding-top: 19px;
}
.top-login{
	margin-top: 3px;
    width: 72%;
}
.header_menu li {
    padding: 0 9px !important;
}
.realated-brick img {
    height: 288px !important;
}

/* ============================= Sign In ====================== */

.sign_in_container {
    width: 99% !important;
}
.sign_in_form {
    width: 100%;
}
.sign_in_form-inner {
    width: 100%;
}
.sign_head {
    width: 100%;
    padding: 15px;
}
.sign_in_form .popup_login {
    width: 83%;
}
.sign_in_container .sign_in_form .popup_login label {
    width: 100%;
}
.sign_in_container .sign_in_form .popup_login .search {
    float: left;
    padding: 5px;
    width: 100%;
}
.sign_in_form .popup_login .error {
    width: 100%;
}
.sign_in_form .popup_login {
    margin: 5px 10px;
    width: 92%;
}
.sign_head h2 {
    font-size: 15px;
    width: 100%;
}
.sign_head .sign_text{
	 width: auto;
}
.sign_head .fb_div {
    float: left;
    margin: 0;
}
input[type="radio"], input[type="checkbox"]{
	margin: 4px;
}
.forgot-link {
    margin: 0 0 0 15px;
    width: 95%;
}


/* ============================= Favorites ====================== */


.collection_fav li {
    float: left;
    margin: 0 0 30px 90px;
    width: 224px;
}
.collection_fav li:nth-child(4n+1) {
    margin: 0 0 30px 90px;
}

.business-image li{
    width: 100px;
}
.help-3, .help-4{
    margin-left: 120px;
}



}

/* ============================= 384px ====================== */


@media screen and (min-width: 384px) and (max-width: 413px){

.top-login {
    margin-top: 3px;
    width: 100%;
}
.header_menu li {
    padding: 0 20px !important;
}
.realated-brick img {
    height: 263px !important;
}


/* ============================= Sign In ====================== */

.sign_in_container {
    width: 99% !important;
}
.sign_in_form {
    width: 100%;
}
.sign_in_form-inner {
    width: 100%;
}
.sign_head {
    width: 100%;
    padding: 15px;
}
.sign_in_form .popup_login {
    width: 83%;
}
.sign_in_container .sign_in_form .popup_login label {
    width: 100%;
}
.sign_in_container .sign_in_form .popup_login .search {
    float: left;
    padding: 5px;
    width: 100%;
}
.sign_in_form .popup_login .error {
    width: 100%;
}
.sign_in_form .popup_login {
    margin: 5px 10px;
    width: 92%;
}
.sign_head h2 {
    font-size: 15px;
    width: 100%;
}
.sign_head .sign_text{
	 width: auto;
}
.sign_head .fb_div {
    float: left;
    margin: 0;
}
input[type="radio"], input[type="checkbox"]{
	margin: 4px;
}
.forgot-link {
    margin: 0 0 0 15px;
    width: 95%;
}


/* =============================Forgot ====================== */


.wdt-size {
    margin: 0 0 30px;
    width: 100%;
}
.pass {
    width: 93% !important;
}
.forgot_text {
    margin: 10px 0 5px 12px;
    line-height: 17px;
}
.field_account {
    width: 98%;
}
.community_page .pass input {
    float: left;
    padding: 0 10px;
}
input#forgot_submit, input#reopen_submit {
    margin-left: 12px !important;
     height: 33px;
    line-height: 22px;
}
.community_page .pass input {
    float: left;
    padding: 7px 10px;
    margin: 10px 10px 15px 11px;
}
.forgot_titles{
	 padding: 22px 0 22px 11px;
}


/* ============================= Favorites ====================== */


.collection_fav li {
    float: left;
    margin: 0 0 30px 64px;
    width: 224px;
}
.collection_fav li:nth-child(4n+1) {
    margin: 0 0 30px 64px;
}
.business-image li{
    width: 93px;
}
.help-3, .help-4{
     margin-left: 99px;
}



}
/* ============================= 375px ====================== */


@media screen and (min-width: 375px) and (max-width: 383px){

.header_menu li {
    padding: 0 17px !important;
}
.top-login {
    margin-top: 3px;
    width: 96%;
}
.realated-brick img {
    height: 243px !important;
}


/* ============================= Sign In ====================== */

.sign_in_container {
    width: 99% !important;
}
.sign_in_form {
    width: 100%;
}
.sign_in_form-inner {
    width: 100%;
}
.sign_head {
    width: 100%;
    padding: 15px;
}
.sign_in_form .popup_login {
    width: 83%;
}
.sign_in_container .sign_in_form .popup_login label {
    width: 100%;
}
.sign_in_container .sign_in_form .popup_login .search {
    float: left;
    padding: 5px;
    width: 100%;
}
.sign_in_form .popup_login .error {
    width: 100%;
}
.sign_in_form .popup_login {
    margin: 5px 10px;
    width: 92%;
}
.sign_head h2 {
    font-size: 15px;
    width: 100%;
}
.sign_head .sign_text{
	 width: auto;
}
.sign_head .fb_div {
    float: left;
    margin: 0;
}
input[type="radio"], input[type="checkbox"]{
	margin: 4px;
}
.forgot-link {
    margin: 0 0 0 15px;
    width: 95%;
}


/* =============================Forgot ====================== */


.wdt-size {
    margin: 0 0 30px;
    width: 100%;
}
.pass {
    width: 93% !important;
}
.forgot_text {
    margin: 10px 0 5px 12px;
    line-height: 17px;
}
.field_account {
    width: 98%;
}
.community_page .pass input {
    float: left;
    padding: 0 10px;
}
input#forgot_submit, input#reopen_submit {
    margin-left: 12px !important;
     height: 33px;
    line-height: 22px;
}
.community_page .pass input {
    float: left;
    padding: 7px 10px;
    margin: 10px 10px 15px 11px;
}
.forgot_titles{
	 padding: 22px 0 22px 11px;
}


/* ============================= Favorites ====================== */


.collection_fav li {
    float: left;
    margin: 0 0 30px 64px;
    width: 224px;
}
.collection_fav li:nth-child(4n+1) {
    margin: 0 0 30px 64px;
}

.business-image li{
    width: 110px;
}
.help-3, .help-4{
    margin-left: 105px;
}




}
/* ============================= 320px ====================== */


@media screen and (min-width: 320px) and (max-width: 374px){

.top-login {
    margin-top: 3px;
    width: 100%;
}



/* ============================= Sign In ====================== */

.sign_in_container {
    width: 99% !important;
}
.sign_in_form {
    width: 100%;
}
.sign_in_form-inner {
    width: 100%;
}
.sign_head {
    width: 100%;
    padding: 15px;
}
.sign_in_form .popup_login {
    width: 83%;
}
.sign_in_container .sign_in_form .popup_login label {
    width: 100%;
}
.sign_in_container .sign_in_form .popup_login .search {
    float: left;
    padding: 5px;
    width: 100%;
}
.sign_in_form .popup_login .error {
    width: 100%;
}
.sign_in_form .popup_login {
    margin: 5px 10px;
    width: 92%;
}
.sign_head h2 {
    font-size: 15px;
    width: 100%;
}
.sign_head .sign_text{
	 width: auto;
}
.sign_head .fb_div {
    float: left;
    margin: 0;
}
input[type="radio"], input[type="checkbox"]{
	margin: 4px;
}
.forgot-link {
    margin: 0 0 0 15px;
    width: auto;
}


/* =============================Forgot ====================== */


.wdt-size {
    margin: 0 0 30px;
    width: 100%;
}
.pass {
    width: 96% !important;
}
.forgot_text {
    margin: 10px 0 5px 12px;
    line-height: 17px;
}
.field_account {
    width: 98%;
    margin: 0 !important;
}
.community_page .pass input {
    float: left;
    padding: 0 10px;
}
input#forgot_submit, input#reopen_submit {
    margin-left: 12px !important;
     height: 33px;
    line-height: 22px;
}
.community_page .pass input {
    float: left;
    padding: 7px 10px;
    margin: 10px 10px 15px 11px;
}

.forgot_titles{
	 padding: 22px 0 22px 11px;
}

/* ============================= Favorites ====================== */


.collection_fav li {
    float: left;
    margin: 0 0 30px 38px;
    width: 224px;
}
.collection_fav li:nth-child(4n+1) {
    margin: 0 0 30px 38px;
}

}



/**-------------design by J---------------**/

@media screen and (min-width: 1024px) and (max-width: 1199px){
.bottom-phone-content-main {
    top: 65px;
}

}
@media screen and (min-width: 768px) and (max-width: 1023px){
.bottom-phone-content-main {
       top: 65px;
    left: -35px;
        width: 100%;
    text-align: center;
}
.bottom-phone-content {
    margin-left: 0;
    width: 100%;
}
.bottom-phone-content h1,.bottom-phone-content h2,.bottom-phone-content ul li{
        padding: 5px 0;
}
.bottom-phone-content ul {
    margin-top: 0;
    text-align: center;
    }
    .bottom-phone-content ul li a img {
    width: 20%;
}
.bottom-phone-content ul li{
    text-align: center;
}
}

@media screen and (max-width: 767px){

.bottom-phone-content-main {
       top: 40px;
    left: -23px;
        width: 100%;
    text-align: center;
}
.bottom-phone-content {
    margin-left: 0;
    width: 100%;
}
.bottom-phone-content h1,.bottom-phone-content ul li{
        padding: 5px 0;
}
.bottom-phone-content ul {
    margin-top: 0;
    text-align: center;
    }
    .bottom-phone-content ul li a img {
    width: 20%;
}
.bottom-phone-content ul li{
    text-align: center;
}
.bottom-phone-content h1{
        font-size: 25px;
}
.bottom-phone-content h2 {
    font-size: 15px;
    padding: 0 !important;
}


}

@media screen and (min-width: 320px) and (max-width: 567px){
.bottom-phone-content h1 {
    font-size: 20px;
    padding: 0;
        line-height: 15px;
}
.bottom-phone-content h2 {
    font-size: 10px;
}
.bottom-phone-content h1, .bottom-phone-content ul li {
    padding: 3px 0;
}
.bottom-phone-content-main {
    top: 20px;
    left: -14px;
}
.bottom-phone-main{
        margin-bottom: 10px;
}
}

/**-------------design by J---------------**/





















