.pin-s {
  /*width:980px;*/
  margin: 0px auto;
}

.brick {
  background: white;
  color: #333;
  // border: 1px solid #e4e4e2;
  // border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

.brick .img {
  width: 100%;
  max-width: 100%;
  display: block;
  padding: 0;
}

.brick h3, .brick h5 {
  text-shadow: none;
}

.free-wall {
  /*margin: 15px;*/
  clear: both;
}

.brick {
  width: 221.2px;
}

.info {
  color: #333;

  /* border-top:1px solid #ddd; */
  padding: 0 17px 10px 17px;
  width: 100%;
  display: inline-block;
  background-color: rgba(200,200,200,0.1);
}

.info h3 {
  color: #666;
  font: 13px Arial, Helvetica, sans-serif;
  margin: 6px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
  font-weight: bold;
}

.info h5 {
  margin: 3px 0 5px 0;
  font: 12px Arial, Helvetica, sans-serif;
}

.info > .cat-name a {
  color: #b2b2b2;
}

.info > .cat-price a {
  color: #664fa6;
}

.brick img {
  margin: 0px;
  padding: 3px;
  display: block;
}

.brick:hover .collections-ui {
  visibility: visible;
}

.collections-ui {
  border-radius: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  visibility: hidden;
}

.collections-ui .favorite-container, .collections-ui .collect-container {
  float: left;
  position: relative;
}

.collections-ui .btn-fave, .collections-ui .btn-collect {
  background: none repeat scroll 0 0 padding-box #fff;
  border-color: rgba(0, 0, 0, 0.15);
  float: left;
  height: 25px;
  line-height: 23px;
  padding: 0;
  width: 26px;
  z-index: 2;
}

.collections-ui .collect-container {
  margin-left: 2px;
}

.collections-ui .btn-dropdown {
  padding-right: 0 !important;
}

.collections-ui .btn-collect {
  width: 34px !important;
}

.collections-ui .btn-fave, .collections-ui .btn-collect {
  background: none repeat scroll 0 0 padding-box #fff;
  border-color: rgba(0, 0, 0, 0.15);
  float: left;
  height: 25px;
  line-height: 23px;
  padding: 0;
  width: 26px;
  z-index: 2;
}

.btn-dropdown {
  padding-right: 20px !important;
}

.btn-fave, .btn-collect {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(center top, #ffffff 0%, #fdfdfc 4%, #f3f3f2 11%, #f3f3f2 95%, #e9e9e8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-color: #dddad6 #d8d5d2 #cdc9c6;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: #5a5552;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 25px;
  line-height: 23px;
  margin: 0;
  outline: medium none;
  padding: 0 9px 0 22px;
  position: relative;
  text-shadow: 0 1px 0 white;
}

.collections-ui .btn-fave .icon {
  left: 4px;
}

.btn-fave .icon {
  top: 5px;
}

.btn-fave .icon, .btn-collect .icon, .btn-dropdown .icon-dropdown {
  background: url(../../../images/front/sprites-v2.20141104214315.png) no-repeat scroll 0 0 transparent;
  display: block;
  height: 16px;
  left: 7px;
  overflow: hidden;
  position: absolute;
  text-indent: -1000px;
  top: 4px;
  width: 16px;
}

.ie-fix {
  display: block;
  width: 0;
}

.collections-ui .btn-collect .icon {
  left: 5px;
}

.btn-collect .icon {
  background-position: -34px 0;
  height: 16px;
  left: 9px;
  width: 17px;
}

.collections-ui .btn-dropdown .icon-dropdown {
  right: 3px;
}

.btn-dropdown .icon-dropdown {
  background-position: -217px -1px;
  height: 6px;
  left: auto;
  right: 8px;
  top: 10px;
  width: 8px;
}

.pagess {
  display: block;
  overflow: hidden;
  padding: 30px 0 15px;
  position: relative;
  text-align: center;
}

.pagess .pages {
  display: inline;
  float: none;
  font: bold 14px Arial, Helvetica, sans-serif;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 0 8px;
  position: relative;
}

.pagess .pages span, .pages li {
  display: inline;
  float: none;
  font-weight: bold;
  margin: 0;
}

.pagess .pages .current-page, .pagess .pages li.active a, .pagess .pages a.active {
  color: #333;
}

.pagess .pages a {
  padding: 0 5px;
}

.pagess .controls {
  clear: both;
  display: block;
  float: none;
  margin: 0 auto;
  padding: 10px 0 0;
  width: 70px;
}

.pagess .controls a.previous-disabled {
  background-position: -84px -790px;
}

.pagess .controls a {
  background: url(../../../images/front/main-sprite.20141104214317.png) no-repeat scroll 0 -790px rgba(0, 0, 0, 0);
  display: inline;
  float: left;
  height: 29px;
  margin: 0 4px;
  overflow: hidden;
  text-indent: -999em;
  width: 27px;
}

.pagess .controls a.next {
  background-position: 0 -820px;
}
