.reviews {
background: url("../../../images/no-rating_star.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
float: left;
height: 17px;
margin: 3px 0 0 -2px;
width: 86px;
color: #999999;
display: block;
cursor: pointer;
font-size: 14px;
line-height: 23px;
}
natural-books-to-learn-moremedia="all"
.reviews {
color: #666666;
font-size: 14px;
line-height: 22px;
}


.reviews .stars {
background: url("../../../images/rating_star.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
float: left;
height: 17px;
width: 86px;
}
bridal-robe-wedding-lingeriemedia="all"
.stars.small {
font-size: 14px;
}
bridal-robe-wedding-lingeriemedia="all"
.stars {
display: inline;
font-size: 22px;
position: relative;
white-space: nowrap;
}
/*******   shipping description table***********/

.list-table {
margin-bottom: 24px;
width: 100%;
}
user agent stylesheettable {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}





.TabbedPanelsContent table td {
padding: 1px;
}
.list-table th, .list-table td {
border-bottom: 1px solid #EAEAE3;
}
user agent stylesheettd, th {
display: table-cell;
vertical-align: inherit;
}
Inherited from table.list-table.shipping
user agent stylesheettable {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}

.list-table td, th {
padding: 1%;
}


.error {
color: #F00;
font-size: 12px !important;
font-weight: normal;
}

#primary_nav_wrap ul a {
display: block;
color: #333;
text-decoration: none;
font-size: 12px;
line-height: 24px;
padding: 0 15px;
font-family: Sans-Serif;
}



.registry_index_contaner{
float: left; border-radius: 17px; padding: 10px; background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.26); /*width: 55%;*/

}

