/**
* Project: TT Menu - Vertical Horizontal Bootstrap Mega Menu
* Author: Trending Templates Team
* Author URI: www.trendingtemplates.com
* Dependencies: Bootstrap's mega menu plugin
* A professional Bootstrap mega menu plugin with tons of options.
*/

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600");

@import url("//fonts.googleapis.com/css?family=Raleway:400,600");

/* NO NEED TO ADD */

.below-header .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  color: #555;
}

.below-header .navbar-nav > li:first-child {
  margin-left: -27px;
}

.below-header {
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  padding-top: 21px;
  padding-bottom: 0px;
  margin-top: 58px;
}

.hero1 {
  margin-bottom: 0;
  margin-top: -19px;
  position: relative;
}

/* MENU VERTICAL */

#vertical .navbar-brand {
  width: 240px;
}

#vertical .ttmenu-full.open {
  max-width: 100%;
  width: 800px !important;
  position: absolute;
}

#vertical .navbar-default, #vertical .navbar-default .nav, #vertical .navbar-default .collapse, #vertical .navbar-default .dropup, #vertical .navbar-default .dropdown {
  position: static;
  width: 240px !important;
  left: 0;
}

#vertical .navbar-collapse {
  padding: 0;
}

#vertical .navbar-default .navbar-nav li .vertical-menu {
  opacity: 1;
  position: absolute;
  left: 240px !important;
  right: 0 !important;
  top: auto;
  margin-top: -65px !important;
  max-width: 900px;
  padding: 0;
}

#vertical .navbar-default .navbar-nav li .vertical-dropdown-menu {
  opacity: 1;
  position: absolute;
  left: 240px !important;
  right: 0 !important;
  top: auto;
  margin-top: -65px !important;
  max-width: 240px;
  padding: 0;
}

#vertical .navbar-default .navbar-nav li .dropdown {
  width: 240px !important;
}

#vertical .navbar-default .navbar-nav li ul {
  width: 100% !important;
}

#vertical .dropdown-menu, #vertical .navbar-default .ttmenu-content {
  padding: 20px;
}

#vertical .nav-pills {
  max-width: 200px;
}

#vertical .dropme:after {
  content: "\f105";
  color: #fff;
  position: absolute;
  right: 20px;
  padding-left: 5px;
  font-family: 'FontAwesome';
}

/* MENU DEFAULT */

.ttmenu .navbar-default {
  border: 0;
  width: 100% !important;
  border-radius: 0;
  margin-bottom: 0px;
}

.ttmenu .navbar-default .dropdown-menu {
  background: rgb(255, 255, 255);

  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);

  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));

  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);

  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);

  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);

  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);

  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

  /* IE6-8 */
  box-shadow: none !important;
  border: 0;
}

.ttmenu .navbar-default .dropdown-menu, .ttmenu .navbar-default .dropdown-menu li a {
  color: #282828;
  list-style: none;
  background-color: transparent !important;
}

.white-style .navbar-brand i {
  color: #ffffff !important;
}

.ttmenu .navbar-default .navbar-toggle span {
  color: #fff !important;
  background: #fff !important;
}

.ttmenu .navbar-default .navbar-toggle {
  border-color: #111;
  color: #fff !important;
  margin-top: 15px;
}

.ttmenu .navbar ul {
  padding-left: 0;
  list-style: none;
}

.ttmenu .navbar-collapse {
  border-bottom: 0 !important;
}

.ttmenu .navbar-default .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
}

.ttmenu .navbar-default .nav, .ttmenu .navbar-default .collapse, .ttmenu .navbar-default .dropup, .ttmenu .navbar-default .dropdown {
  position: static;
}

.ttmenu .navbar-default .container {
  position: relative;
}

.ttmenu .navbar-default .dropdown-menu {
  left: auto;
  background-color: #ffffff !important;
}

.ttmenu-content .box li, .ttmenu .navbar-default .dropdown-menu li a {
  text-decoration: none !important;
}

.ttmenu .navbar-default .dropdown-menu, .ttmenu-content .dropdown-menu {
  padding: 0 !important;
}

.navbar-default .navbar-nav > li > a {
  color: #444444 !important;
  font-size: 15px;
  font-style: normal;
  height: 48px;
  padding-bottom: 20px;
  padding-top: 14px;
  text-transform: capitalize;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ff4f4f !important;
}

.navbar-default .dropdown-menu li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #282828;
  font-size: 13px;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 8px 5px 8px 15px !important;
  position: relative;
  text-decoration: none;
  text-transform: none;
}

.ttmenu .navbar-default li .widget a {
  padding: 0 !important;
}

.ttmenu-content .box li a {
  color: #282828;
  font-size: 13px;
  border-bottom: none;
  border-bottom: 0 !important;
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 14px 10px 12px 0 !important;
  position: relative;
  text-decoration: none;
  text-transform: none;
}

.ttmenu .dropdown-menu, .ttmenu .navbar-default .ttmenu-content {
  background-color: #fff;
  padding: 0px;
}

.ttmenu .navbar-default .ttmenu-full .dropdown-menu {
  left: 0;
  right: 0;
}

.ttmenu .nav li span.label {
  color: #fff !important;
  margin-left: 5px;
  margin-top: 2px !important;
  padding: 5px 10px;
}

.ttmenu .navbar-default .navbar-nav > .active > a, .ttmenu .navbar-default .navbar-nav > .active > a:hover, .ttmenu .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.ttmenu-content .widget {
  padding: 0;
  margin: 0;
}

.ttmenu-content, .ttmenu-content .widget, .ttmenu-content .widget .thumb {
  position: relative;
}

.ttmenu-content .widget .title h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.ttmenu-content .box li {
  /*border-bottom: 1px solid #ededed;*/
  position: relative;
  padding: 5px 10px 5px 0;
}

.ttmenu-content .box li i {
  right: 0;
  clear: both;
  top: 10px;
  display: block;
  position: absolute;
}

.dropme:after {
  content: "\f107";
  color: #aaaaaa;
  padding-left: 5px;
  font-family: 'FontAwesome';
}

.dropme-left:after {
  content: "\f105";
  color: #aaaaaa;
  font-family: 'FontAwesome';
  display: block;
  right: 10px;
  width: 0;
  position: absolute;
  height: 0;
  top: 13px;
  margin-top: 0;
  margin-right: 10px;
}

.navbar-default .dropdown-menu li:last-child, .ttmenu-content .box li:last-child {
  border-bottom: 0 solid #fff;
}

.box p {
  color: #1a1a1a;
  font-weight: 400;
  padding-top: 10px;
  font-size: 13px;
}

.box h4 {
  color: #1a1a1a;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0px;
}

.box ul li span {
  float: right;
  margin-top: 4px;
}

/* MENU SEARCH */

.searchbox {
  bottom: 0;
  float: right;
  line-height: 65px;
  min-width: 65px;
  overflow: hidden;
  position: relative;
  background: #222;
  right: 0;
  width: 0;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.searchbox-input {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #333;
  width: 100%;
  line-height: 65px;
  height: 65px;
  margin: 0;
  padding: 1px 65px 0px 20px;
  font-size: 12px;
}

.searchbox-icon, .searchbox-submit {
  width: 65px;
  height: 65px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 18px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 65px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #000;
}

.ttmenu input[type="search"] {
  color: #fff;
}

.searchbox-open {
  width: 100%;
}

/* MENU FORM */

.ttmenu .form-control {
  background-color: #f9f9f9;
  border: 1px solid #f5f5f5;
  border-radius: 0;
  box-shadow: none;
  font-size: 12px;
  height: 35px;
  margin-bottom: 10px;
}

.ttmenu textarea {
  height: 140px !important;
}

/* MENU IMAGE HOVER */

.ttmenu .entry {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

.ttmenu .entry img {
  width: 100%;
}

.ttmenu .magnifier {
  background: rgba(0, 0, 0, 0.9) url(images/magnifier.png) no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  zoom: 1;
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.ttmenu .entry:hover .magnifier {
  zoom: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}

.ttmenu .menu-image {
  margin-bottom: 30px;
}

#myCarousel img {
  width: 100%;
}

/* MENU TABBED */

.nav-pills {
  margin-top: 6px;
}

.nav-pills > li {
  float: none;
  margin-top: 0;
  cursor: pointer;

  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.nav-pills > li > a {
  border-radius: 0;
  cursor: pointer !important;
  border: 0 !important;
  position: relative;
  font-weight: normal !important;
  text-transform: uppercase !important;
  margin-right: 0;
}

.nav-pills > li > a:after {
  content: "\f105";
  color: #1a1a1a;
  font-family: 'FontAwesome';
  display: block;
  right: 10px;
  width: 0;
  position: absolute;
  height: 0;
  top: 8px;
  margin-top: 0;
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
}

/* MENU GRADIENT */

.menu-red-gradient .form-control:focus {
  border-color: #a90329;
  outline: 0;
  box-shadow: none;
}

.menu-red-gradient .btn-primary {
  border-radius: 0;
  font-size: 13px;
  background-color: #a90329 !important;
  border-color: #a90329 !important;
  color: #fff !important;
}

.menu-red-gradient .box ul li:hover .fa {
  color: #a90329 !important;
}

.menu-red-gradient .magnifier {
  background-color: rgba(169, 3, 41, 0.9);
}

/* DARK STYLE */

.dark-style .coldesc {
  background: #333;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.dark-style .navbar-default .ttmenu-content {
  border-radius: 0;
}

.dark-style .dropdown-menu {
  background-color: #ffffff !important;
}

.dark-style .navbar-default .dropdown-menu li a, .dark-style .ttmenu-content .box li a, .dark-style .ttmenu-content .box li:before {
  color: #888 !important;
}

.dark-style .ttmenu-content .box li a:hover, .dark-style .ttmenu-content .box li a:focus {
  background: none !important;
}

.dark-style .ttmenu-content .box li {
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.dark-style .navbar-default .dropdown-menu li a:hover, .dark-style .navbar-default .dropdown-menu li a:focus {
  background-color: #e5f4f7;
  color: #0192b5;
}

.dark-style .form-control, .dark-style .searchbox-icon, .searchbox-submit, .dark-style .navbar-default {
  background: #fff;

  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
}

/* RESPONSIVE */

@media (max-width: 767px) {
  #vertical .navbar-brand {
    width: 60px;
  }

  #vertical .ttmenu-full.open {
    max-width: 100%;
    width: 100% !important;
    position: relative;
  }

  #vertical .navbar-default, #vertical .navbar-default .nav, #vertical .navbar-default .collapse, #vertical .navbar-default .dropup, #vertical .navbar-default .dropdown {
    position: static;
    width: 100% !important;
    left: 0;
  }

  #vertical .navbar-collapse {
    padding: 0;
  }

  #vertical .navbar-default .navbar-nav li .vertical-menu {
    opacity: 1;
    position: static;
    left: 100% !important;
    right: 100% !important;
    top: auto;
    margin-top: 0 !important;
    max-width: 100%;
    padding: 0;
  }

  #vertical .navbar-default .navbar-nav li .vertical-dropdown-menu {
    opacity: 1;
    position: static;
    left: 100% !important;
    right: 100% !important;
    top: auto;
    margin-top: 0 !important;
    max-width: 100%;
    padding: 0;
  }

  #vertical .navbar-collapse {
    padding: 0 0 0 20px;
  }

  #vertical .dropdown-menu, #vertical .navbar-default .ttmenu-content {
    padding: 20px;
  }

  #vertical .nav-pills {
    max-width: 200px;
  }

  #vertical .dropme:after {
    content: "\f107";
    color: #fff;
    position: absolute;
    right: 20px;
    padding-left: 5px;
    font-family: 'FontAwesome';
  }

  .nav-pills > li > a::after, .dropme-left:after {
    content: "\f107";
  }

  .ttmenu .nav-pills, #vertical .nav-pills {
    width: 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

/* SUB MENU STYLE */

.ttmenu .dropdown-submenu {
  position: relative;
}

.ttmenu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: 0;
  border-radius: 0;
}

.ttmenu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.ttmenu .dropdown-submenu.pull-left {
  float: none;
}

.ttmenu .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.ttmenu .open > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.flashcontainer {
  z-index: 999;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0px;
}

.flashobject {
  position: relative;
  z-index: 999;
  left: 200px;
  top: 30px;
}
