@charset "utf-8";
/* CSS Document */


.teams-sec {
	font-family:Arial, Helvetica, sans-serif;
}
#breadcrumbs {
	border-bottom: 1px solid #eee;
	color: #999;
	font:11px Arial, Helvetica, sans-serif;
	overflow:hidden;
	line-height: 16px;
	list-style: outside none none;
	padding: 6px 0 6px 1px;
}
#breadcrumbs li {
	float: left;
	margin-right: 3px;
}
#breadcrumbs a {
	color: #666;
	font-weight: normal;
}
#breadcrumbs a:after {
	content:"\003e";
	margin:0 0 0 3px;
}
.heading {
	padding-top: 18px;
}
.heading h1 {
	color: #080808;
	display: inline;
	font: bold 16px Arial, Helvetica, sans-serif;
	line-height: 24px;
	margin-bottom: 18px;
	vertical-align: baseline;
}
.heading h2 {
	color: #999;
	display: inline;
	font: 16px "Arial Black", Gadget, sans-serif;
	font-weight: normal;
	line-height: 24px;
	margin-left: 12px;
	vertical-align: baseline;
}
.secondary {
	padding: 24px 15px 0 0;
}
.secondary .side-tabbed-nav {
	padding: 16px 0 16px 8px;
}
.secondary .side-tabbed-nav {
	background-color: #f5f5f1;
	margin-bottom: 10px;
	border-radius: 4px;
}
.secondary .side-tabbed-nav ul {
	font-size: 12px;
	margin-bottom: 0;
	padding: 0;
}
.secondary .side-tabbed-nav li {
	border-top: 1px solid #dfdfdf;
	display: block;
	line-height: 14px;
	padding: 0;
}
.secondary .side-tabbed-nav li a {
	display: block;
	padding: 8px;
}
.secondary .side-tabbed-nav li a:hover {
	background-color: #eaeae3;
	text-decoration: none;
}
.secondary .side-tabbed-nav li.active a {
	background-color: #fff;
	color: #333;
}
.panel, .secondary .panel, .secondary-review .panel {
	background-color: #f5f5f1;
	margin-bottom: 10px;
	padding: 16px;
}
.panel h2, .secondary .panel h2, .secondary-review .panel h2 {
	border-bottom: 1px solid #dededb;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	height: auto;
	margin: 0 0 8px;
	padding: 0 0 8px;
}
.panel-quiet, .secondary .panel-quiet, .secondary-review .panel-quiet {
	background-color: #fff;
	border: 1px solid #eee;
	font-size: 12px;
	padding: 15px;
}
.panel li, .secondary .panel li, .secondary-review .panel li {
	line-height: 17px;
	list-style-type: none;
	margin-bottom: 6px;
}
.panel-quiet, .last {
	margin:0;
	padding:0;
}
.email-subscribe {
	padding:5px;
	font: 12px Arial, Helvetica, sans-serif
}
#listings-header {
	background-color: #f5f5f1;
	border-radius: 4px;
	display: inline-block;
	margin-top: 0;
	padding: 7px 6px;
	position: relative;
	width: 100%;
	z-index: 2;
}
#listings-header input[type="text"] {
	float: left;
	height: 34px;
	left: 0;
	width: 65%;
}
#listings-header input[type="submit"] {
	border-radius:3px;
	float: left;
	padding:6px 10px;
	position: relative;
}
.relavant {
	float:right;
	font-size:12px;
	cursor: pointer;
	margin: -5px;
	padding: 5px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	margin:7px 0;
}
.relavant .relavant-selected {
	color: #0192b5;
	font-weight: bold;
	padding-right: 0;
}
.relavant-selected .sort {
	color:#333;
}
.relavant ul {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px solid #ddd;
	display: none;
	list-style: outside none none;
	padding-top: 17px;
	font-weight:normal;
	position: absolute;
	right: 2px;
	top: 4px;
	z-index: 2;
}
.relavant:hover ul {
	display: block;
	z-index: 2;
}
.relavant ul li {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #ffffff;
	border-color: #ddd #ddd -moz-use-text-color;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	padding: 6px 12px;
	white-space: nowrap;
	width: auto;
}
.relavant ul li:hover {
	text-decoration:underline;
}
.relavant ul span.pointer {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 transparent;
	border-color: #dddddd #dddddd #ffffff;
	border-image: none;
	border-radius: 2px 2px 0 0;
	border-style: solid;
	border-width: 1px;
	display: block;
	height: 16px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
}
.group-listing {
	border-bottom: 1px solid #e6e6e6;
	display: inline-block;
	line-height: 16px;
	margin: 0 0 13px;
	padding: 0 0 13px;
	position: relative;
	width:100%;
}
.group-listing:last-child {
	border-bottom:0;
}
.group-listing-avatar, .group-listing-info {
	float: left;
}
.group-listing-info {
	margin-left: 16px;
}
.group-listing h3 {
	margin: 0 0 5px;
	font:bold 14px Arial, Helvetica, sans-serif;
}
.group-listing-recent-members {
	float: right;
	margin-left: 26px;
	overflow: hidden;
}
.group-listing p {
	color: #4d4d4d;
	font-size: 12px;
}
.group-listing-recent-members img {
	border-radius: 3px;
	float: left;
	height: 50px;
	margin-right: 8px;
	width: 50px;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
 
 
 
 
 .caro-slide-block {
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 24px 0;
	padding: 15px;
}
.caro-slide-block .caro-header {
	margin:10px 0;
}
.caro-slide-block .caro-header h2 {
	border-bottom: 1px solid #e6e6e6;
	color: #333333;
	display: inline-block;
	font: bold 13px Arial, Helvetica, sans-serif;
	margin: 0 0 3px;
	padding: 0 0 8px;
}
.customNavigation {
	float:right;
}
.customNavigation .prev {
	background: url("../img/ar-rrw.png") no-repeat scroll 7px 0 rgba(0, 0, 0, 0);
	height: 21px;
	width: 10px;
}
.customNavigation .next {
	background: url("../img/ar-rrw.png") no-repeat scroll -18px 0 rgba(0, 0, 0, 0);
	height: 21px;
	width: 10px;
}
.primary {
	padding: 20px 0 0;
}
.primary h2 {
	border-bottom: 1px solid #e6e6e6;
	font-size: 13px;
	margin: 0 0 12px;
	padding: 0 0 8px;
}
.article {
	background-color: #f7f7f3;
	border: 1px solid #ececec;
	float: left;
	/*height: 160px;*/
    margin-right: 8px;
	padding: 11px;
	position: relative;/*  width: 352px;*/
}
.article .image {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	float: left;
	height: 170px;
	margin-right: 12px;
	width: 170px;
}
.image img {
	height: 170px;
	width: 170px;
}
.article h3 {
	font-size: 12px;
	margin:0 0 5px 0;
	font-weight: normal;
}
.article p {
	font-size:12px;
	color: #666;
	line-height: 17px;
	overflow: hidden;
}
.article p.excerpt {
	height: 104px;
	width: auto;
}
.recent-blog-posts .article p.article-more {
	bottom: 8px;
	height: 18px;
	left: 183px;
	position: absolute;
}
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	clear:both;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
	cursor:url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
.team-footer {
	background:#fff;
	border-top:1px solid #e0e0dc;
}
.team-footer footer {
	border-top:none;
}
