div.header_top{background-color:#ffffff;background-image:url("../images/header_bg2.png");background-repeat:repeat-x;background-size:350px;}


button.browse{color:rgb(87, 94, 96);background-color:rgb(255, 255, 255);}
span.icon-text,div.cart-top a{color:rgb(106, 114, 117);}
a#signin-icon {background-color:rgba(0, 0, 0, 0);}
/*King Edited*/
span#CartCount1{color:rgb(255, 255, 255);background-color:#8dbad4;}

.header-menu:hover{
	cursor:pointer;
}

.header-menu:hover > div{
	border-bottom:3px dashed #a2a5a0;
}

.header-menu:hover > div > div{
	border-bottom:3px solid #8bdad4;
}

input#search_items{
	border-color:#8dbad4;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font: 12px Arial, Helvetica, sans-serif;
	border: 1px solid #8dbad4;
	border-right:0px;
	vertical-align: middle;
	box-shadow: 0 1px 2px #ffffff inset, 0 0 0 1000px #ffffff inset;
	height: 29px;
}

input.search-bt{
	color:#000000;
	border-radius: 0px 10px 10px 0px;
	background-color:#ffffff;
	background: linear-gradient(to bottom, #ffffff 2%, #ffffff 8%, #ffffff 58%, #ffffff 95%);
	/*
	background:rgba(0, 0, 0, 0) linear-gradient(rgb(152, 208, 224) 2%, rgb(104, 184, 209) 8%, rgb(79, 169, 198) 58%, rgb(76, 164, 192) 95%) repeat scroll 0% 0% / auto padding-box border-box;
	*/
	border-color:#8dbad4;
	height:29px;
}
