
#sell-on-header {
    border-bottom: 1px solid #D7D7D4;
    color: #666666;
   /*  margin: 18px -10px 0; */
    padding: 18px 0;
	/* float:left; */
	width:100%;
    text-align: center;
}
#sell-on-header h1 {
    font-family:sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 9px;
}
.salpal_shop{
    text-decoration: none;
	background:#3687af;
	background:-o-linear-gradient(top,#1d4a80 2%,#317ca4 8%,#3d92b3 58%,#3f98bb);
	background:-ms-linear-gradient(top,#1d4a80 2%,#317ca4 8%,#3d92b3 58%,#3f98bb);
	background:-moz-linear-gradient(top,#1d4a80 2%,#317ca4 8%,#3d92b3 58%,#3f98bb);
	background:-webkit-linear-gradient(top,#1d4a80 2%,#317ca4 8%,#3d92b3 58%,#3f98bb);
	background:linear-gradient(top,#1d4a80 2%,#317ca4 8%,#3d92b3 58%,#3f98bb);
    border-color: #664fa6 #664fa6 #664fa6;border: 1px solid;
    	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 7px 15px 8px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.salpal_shop:hover{
	background:#3f98bb;background:-o-linear-gradient(top,#83c7da 2%,#53aac8 8%,#3f98bb 58%,#3f98bb 95%,#3d92b3);background:-ms-linear-gradient(top,#83c7da 2%,#53aac8 8%,#3f98bb 58%,#3f98bb 95%,#3d92b3);background:-moz-linear-gradient(top,#83c7da 2%,#53aac8 8%,#3f98bb 58%,#3f98bb 95%,#3d92b3);background:-webkit-linear-gradient(top,#83c7da 2%,#53aac8 8%,#3f98bb 58%,#3f98bb 95%,#3d92b3);background:linear-gradient(top,#83c7da 2%,#53aac8 8%,#3f98bb 58%,#3f98bb 95%,#3d92b3);
}

.row-sell-wrap {
    background: url("../../images/rays.20140130192956.png") no-repeat fixed center 60px #FFFFFF;
    /*border-bottom: 1px solid #D7D7D4;*/
    margin: 0 -10px;
}
/* .allowed-items {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 48px;
    padding: 24px 0;
	
} */
#sell-on-salpal-header p {
    margin-bottom: 0;
}

#sell-on-salpal-header .fixed-heading {
    background: none repeat scroll 0 0 #F5F5F1;
    border-bottom: 1px solid #D7D7D4;
    box-shadow: 0 0 2px #D6D6D6;
    height: 35px;
    left: 0;
    padding: 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99990;
}
.section-header {
    color: #666666;
    font-family:sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}


.allowed-items h3 {
    color: #666666;
    ffont-family:sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}  

.illustration {
    height: 200px;
    margin: 18px auto 24px;
    width: 200px;
}

.allowed-item{
	   float: left;
    min-height: 310px;
    width: 326px;}
	
	span.illustration {
    background: url(../../images/sell-illustrations.20140130192956.png) no-repeat ;
    display: block;
	    height: 206px;
    margin: 18px auto 24px;
    width: 207px;
}


.allowed-items #vintage-item .illustration {
    background-position: -215px -5px;
}

.allowed-items  #vintage-item p {
    color: #555555;
    font-family:sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
}

.allowed-item {
    float: left;
    min-height: 310px;
    width: 326px;
}
.allowed-items h3 {
    color: #666666;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}
.allowed-items #supplies .illustration {
    background-position: -425px -5px;
}


.section-header {
    color: #666666;
    font-family:sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}
#header, #content, #footer {
    margin: 0 auto;
    text-align: left;
}
.content_wrap1 {
    background-color: #FFFFFF;
    border-top: 3px solid #EDEDE7;
    /*margin-top:16px;*/
    position: relative;
}
.content-wrap-inner1
{
    border-top: 1px solid #D7D7D4;
    min-height: 40px;
    padding: 0 10px;
}

#content #primary {
    float: right;
    padding-top: 26px;
    width: 760px;
}

#search-header {
    margin: 0 0 45px;
    position: relative;
    z-index: 3;
}

h1.summary {
    color: #000000;
	font-size:16px;
	float:left;
}

#search-header ul {
    list-style: none outside none;
    margin: 0;
}
.search-restrictions li {
    display: inline;
}
.search-restrictions li:first-child {background:url(../../images/li_icon.png) no-repeat right center; padding:0 12px 0 0;}

h1.summary .count {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    padding-left: 4px;
}

#sort_header {
    float: right;
    margin-top: 2px;
    text-align: right;
}

.sort-options.no-views {
    margin-right: inherit;
}
.sort-options {
    float: left;
    margin-right: 15px;
    margin-top: 1px;
}
#sort_header label {
    color: #666666;
    float: left;
    margin-right: 6px;
}
#sort_header .dropdown {
    cursor: pointer;
    float: left;
    margin: -5px;
    padding: 5px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}
#sort_header .dropdown-selected {
    background: url("../../images/arrow.png") no-repeat scroll right 5px rgba(0, 0, 0, 0);
    color: #664fa6;
    font-weight: bold;
    padding-right: 18px;
}

#content #secondary.standardized_filters {
    display: block;
    float: left;
    line-height: 18px;
    margin-top: 0;
    padding: 11px 0;
    position: relative;
    width: 190px;
}
#content #secondary {
    color: #333333;
    margin-right: 0;
    margin-top: 0;
}

#content #secondary.standardized_filters .secondary-liner {
    width: 190px;
}
#secondary .secondary-liner {
    padding-bottom: 8px;
    padding-top: 13px;
}
#secondary .secondary-liner {
    padding-top: 0 !important;
}

#content ul {
    list-style: none outside none;
}
.standardized_filters ul.filter {
    border-bottom: 1px solid #EEEEEE;
    font-size: 12px;
    margin: 0;
    padding: 14px 0;
}
#search-filters .input-group {
    display: block;
    line-height: 17px;
    margin: 0 0 4px;
    width: auto;
}
.marketplaces .selected a {
    font-weight: bold;
}
.standardized_filters .selected a {
    color: #333333;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
.marketplaces a {
    font-size: 14px;
}
.standardized_filters a {
    display: block;
}

.categories li:first-child {
    margin-top: 0;
}
.categories li.heading {
    margin-top: 12px;
}
ul.filter li {
    margin-bottom: 2px;
}
.standardized_filters .heading span {
    color: #999999;
    cursor: default;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}
.categories .heading a {
    color: #999999;
}

.filter .checkbox {
    margin: 0 3px 0 0;
    vertical-align: middle;
}

.color-section {
    border-bottom: 1px solid #EEEEEE;
    border-top: medium none !important;
    padding: 14px 0 !important;
}
#search_colors {
    line-height: 0;
    margin-top: 0 !important;
}
#search_colors {
    margin-top: 10px;
}
#search_colors .color_wrapper {
    display: inline-block;
}
#search_colors a .search_swatch {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}
#search_colors a > .red {
    border: 1px solid #FF0000 !important;
}
.search_swatch.red {
    background-color: #F40B32;
}
#search_colors a > .orange {
    border: 1px solid #FF7F00 !important;
}
.search_swatch.orange {
    background-color: #FF7F00;
}
.search_swatch.yellow {
    background-color: #F3CC0C;
}
#search_colors a > .green {
    border: 1px solid #0AC20A !important;
}
.search_swatch.green {
    background-color: #0AC20A;
}
.search_swatch.blue {
    background-color: #0CCCF3;
}
#search_colors a > .blue {
    border: 1px solid #0CCCF3 !important;
}
#search_colors a > .purple {
    border: 1px solid #A60CF3 !important;
}
.search_swatch.purple {
    background-color: #A60CF3;
}
.search_swatch.black {
    background-color: #000000;
}
#search_colors a > .black {
    border: 1px solid #000000 !important;
}
#search_colors a > .white {
    border: 1px solid #CCCCCC !important;
}
.search_swatch.white {
    background-color: #FFFFFF;
}

#search_colors a > .yellow {
    border: 1px solid #F3CC0C !important;
}
#search_colors a > .search_swatch {
    border: 0 none;
    border-radius: 2px;
    display: inline-block;
    height: 16px;
    margin: 0 2px 0 0;
    padding: 0;
    width: 16px;
}

#facet-price .price-input {
    white-space: nowrap;
}
#facet-price ul {
    border-bottom: 0 none;
    padding: 0;
}
#facet-price #price-editor {
    position: relative;
    top: -2px;
}

#facet-price #price-editor span, #facet-price #price-editor input {
    vertical-align: middle;
}
#facet-price .price-input {
    white-space: nowrap;
}
#facet-price input.text {
    width: 30px;
}
.button-grey, .button-small-grey, .button-medium-grey, .button-large-grey {
    background-color: #A0A0A0;
    border-color: #BEBEBE #B3B3B3 #9E9E9E;
}

.button-small span {
    line-height: 19px;
}


.filter a.change-link {
    color: #999999;
    font-weight: normal;
    margin-left: 8px;
}
.filter .changeable a {
    display: inline-block;
}
/*.center_word{
   left: 42%;
   position: absolute;
   top: -26px;
}

 #sell-on-header {
    border-bottom: 1px solid #D7D7D4;
    color: #666666;
    margin: 18px -10px 0;
    padding: 18px 0;
	float:left;
	width:100%;
    text-align: center;
}
#sell-on-header h1 {
    font-family:sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 9px;
} */
.salpal_shop{
    text-decoration: none;
	background:#664fa6;
    border-color: #664fa6 #664fa6 #664fa6;border: 1px solid;
    	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 7px 15px 8px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.salpal_shop:hover{
	background:#846f85;
}

.row-sell-wrap {
  /*  background: url("../../../images/site/rays.20140130192956.png") no-repeat fixed center 60px #FFFFFF;
    border-bottom: 1px solid #D7D7D4;*/
    margin: 0 -10px;
}
.allowed-items {
   /*  border-bottom: 1px solid #EEEEEE;
    margin-bottom: 48px; */
    padding: 24px 0;
	
}
#sell-on-salpal-header p {
    margin-bottom: 0;
}

#sell-on-salpal-header .fixed-heading {
    background: none repeat scroll 0 0 #F5F5F1;
    border-bottom: 1px solid #D7D7D4;
    box-shadow: 0 0 2px #D6D6D6;
    height: 35px;
    left: 0;
    padding: 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99990;
}

.section-header {
    color: #666666;
    font-family:sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}


.allowed-items h3 {
    color: #666666;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}  

.illustration {
    height: 200px;
    margin: 18px auto 24px;
    width: 200px;
}

.allowed-item{
	   float: left;
    min-height: 310px;
    width: 326px;}
	
	span.illustration {
    background: url(../../../images/site/sell-illustrations.20140130192956.png) no-repeat ;
    display: block;
	    height: 206px;
    margin: 18px auto 24px;
    width: 207px;
}


.allowed-items #vintage-item .illustration {
    background-position: -215px -5px;
}

.allowed-items  #vintage-item p {
    color: #555555;
    font-family:sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
}

.allowed-item {
    float: left;
    min-height: 100px;
    width: 326px;
}
.allowed-items h3 {
    color: #666666;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}
.allowed-items #supplies .illustration {
    background-position: -425px -5px;
}


.section-header {
    color: #666666;
    font-family:sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}
#header, #content, #footer {
    margin: 0 auto;
    text-align: left;
}
.content_wrap1 {
    background-color: #FFFFFF;
    border-top: 3px solid #EDEDE7;
    /*margin-top:16px;*/
    position: relative;
	float:left; width:100%;
}
.content-wrap-inner1
{
    border-top: 1px solid #D7D7D4;
    min-height: 40px;
    padding: 0 10px;
}

#content #primary {
    float: right;
    padding-top: 26px;
    width: 78%;
}

#search-header {
    margin: 0 0 45px;
    position: relative;
    z-index: 3;
}

h1.summary {
    color: #000000;
	font-size:16px;
	float:left;
}

#search-header ul {
    list-style: none outside none;
    margin: 0;
}
.search-restrictions li {
    display: inline;
}
.search-restrictions li:first-child {background:url(../../../images/site/li_icon.png) no-repeat right center; padding:0 12px 0 0;}

h1.summary .count {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    padding-left: 4px;
}

#sort_header {
    float: right;
    margin-top: 2px;
    text-align: right;
}

.sort-options.no-views {
    margin-right: inherit;
}
.sort-options {
    float: left;
    margin-right: 15px;
    margin-top: 1px;
}
#sort_header label {
    color: #666666;
    float: left;
    margin-right: 6px;
}
#sort_header .dropdown {
    cursor: pointer;
    float: left;
    margin: -5px;
    padding: 5px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}
#sort_header .dropdown-selected {
    background: url("../../site/images/arrow.png") no-repeat scroll right 5px rgba(0, 0, 0, 0);
    color: #664fa6;
    font-weight: bold;
    padding-right: 18px;
}

#content #secondary.standardized_filters {
    display: block;
    float: left;
    line-height: 18px;
    margin-top: 0;
    padding: 11px 0;
    position: relative;
    width: 21%;
}
#content #secondary {
    color: #333333;
    margin-right: 0;
    margin-top: 0;
}

#content #secondary.standardized_filters .secondary-liner {
    width: 100%;
}
#secondary .secondary-liner {
    padding-bottom: 8px;
    padding-top: 13px;
}
#secondary .secondary-liner {
    padding-top: 0 !important;
}

#content ul {
    list-style: none outside none;
}
.standardized_filters ul.filter {
    border-bottom: 1px solid #EEEEEE;
    font-size: 12px;
    margin: 0;
    padding: 14px 0;
}
#search-filters .input-group {
    display: block;
    line-height: 17px;
    margin: 0 0 4px;
    width: auto;
}
.marketplaces .selected a {
    font-weight: bold;
}
.standardized_filters .selected a {
    color: #333333;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
.marketplaces a {
    font-size: 14px;
}
.standardized_filters a {
    display: block;
}

.categories li:first-child {
    margin-top: 0;
}
.categories li.heading {
    margin-top: 12px;
}
ul.filter li {
    margin-bottom: 2px;
}
.standardized_filters .heading span {
    color: #999999;
    cursor: default;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}
.categories .heading a {
    color: #999999;
}

.filter .checkbox {
    margin: 0 3px 0 0;
    vertical-align: middle;
    display: inline-block;
}

.color-section {
    border-bottom: 1px solid #EEEEEE;
    border-top: medium none !important;
    padding: 14px 0 !important;
}
#search_colors {
    line-height: 0;
    margin-top: 0 !important;
}
#search_colors {
    margin-top: 10px;
}
#search_colors .color_wrapper {
    display: inline-block;
}
#search_colors a .search_swatch {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}
#search_colors a > .red {
    border: 1px solid #FF0000 !important;
}
.search_swatch.red {
    background-color: #F40B32;
}
#search_colors a > .orange {
    border: 1px solid #FF7F00 !important;
}
.search_swatch.orange {
    background-color: #FF7F00;
}
.search_swatch.yellow {
    background-color: #F3CC0C;
}
#search_colors a > .green {
    border: 1px solid #0AC20A !important;
}
.search_swatch.green {
    background-color: #0AC20A;
}
.search_swatch.blue {
    background-color: #0CCCF3;
}
#search_colors a > .blue {
    border: 1px solid #0CCCF3 !important;
}
#search_colors a > .purple {
    border: 1px solid #A60CF3 !important;
}
.search_swatch.purple {
    background-color: #A60CF3;
}
.search_swatch.black {
    background-color: #000000;
}
#search_colors a > .black {
    border: 1px solid #000000 !important;
}
#search_colors a > .white {
    border: 1px solid #CCCCCC !important;
}
.search_swatch.white {
    background-color: #FFFFFF;
}

#search_colors a > .yellow {
    border: 1px solid #F3CC0C !important;
}
#search_colors a > .search_swatch {
    border: 0 none;
    border-radius: 2px;
    display: inline-block;
    height: 16px;
    margin: 0 2px 0 0;
    padding: 0;
    width: 16px;
}

#facet-price .price-input {
    white-space: nowrap;
}
#facet-price ul {
    border-bottom: 0 none;
    padding: 0;
}
#facet-price #price-editor {
    position: relative;
    top: -2px;
}

#facet-price #price-editor span, #facet-price #price-editor input {
    vertical-align: middle;
}
#facet-price .price-input {
    white-space: nowrap;
}
#facet-price input.text {
    width: 30px;
}
.button-grey, .button-small-grey, .button-medium-grey, .button-large-grey {
    background-color: #A0A0A0;
    border-color: #BEBEBE #B3B3B3 #9E9E9E;
}

.button-small span {
    line-height: 19px;
}


.filter a.change-link {
    color: #999999;
    font-weight: normal;
    margin-left: 8px;
}
.filter .changeable a {
    display: inline-block;
}

.center_word.center_word {
    display: inline-block;
    width: 100%;
}



/** Saravanan **/

.review-averages {
    background: none repeat scroll 0 0 #F5F5F1;
    color: #666666;
    font-size: 12px;
    margin:0px; float:left;
    padding: 15px; width: 95%;
}
.review-averages h4{
    color: #333333;
    display: inline;
    font-size: 14px; float:left; margin:0; padding:0;
    position: relative;
    top: -3px;
}
.review-averages .review-rating-count{position:relative; top:-3px;}
.shop-reviews
{
	float:lef; width:100%;
}
.shop-reviews li
{
	float:left; width:98%; margin:15px 0 0;
}
.receipt-review
{
	float:left; width:100%;     border: 1px solid #E2E2E2;
    border-radius: 5px;
    margin-bottom: 10px;
}
.reviewer-info
{
	background: none repeat scroll 0 0 #F5F5F1;
    border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #E2E2E2;
    padding: 5px 10px 2px;
}
.reviewer-info img {
    border: 1px solid #E2E2E2;
    border-radius: 25px;
    margin-right: 5px;
}

.receipt-review .reviewer-info span {
    color: #666666;
    display: inline-block;
    line-height: 20px;
    padding-top: 5px;
    vertical-align: top;
}
.reviewer-detail
{
	background: none repeat scroll 0 0 #FFF;
    border: 0 none;
    border-radius: 0 0 5px 5px;
    padding: 15px 10px 20px; float:left;
}

.reviews-wrap .image {
    float: left;
}

.reviews-wrap .image img {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E2E2E2;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 2px;
    padding: 3px;
}
.review-container{width:83%;}
.review-container h2{
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
}

.review-container p.review {
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    margin-top: 0px; float:left; width:100%;
}
.review-container h2 a {
    color: #333333;
}
.pager .pages {
    display: inline;
    float: none;
    font-size: 1.2em;
    list-style: none outside none;
    margin-bottom: 0;
    padding: 0 8px;
    position: relative;
}

.pager .pages span, .pager .pages li {
    display: inline;
    float: none;
    font-weight: bold;
    margin: 0;
}
.pager .pages a {
    padding: 0 5px;
}


.register_popup_main {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    height: 1770px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.register_popup {
    background:#FFFFFF;
    left: 190px;
    position: absolute;
    top: 70px;
    width: 580px;
    z-index: 99999;
	border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#activity-list .hoverfav_icon1{position:absolute;}



